
/* common css */

.red_font {
	color: #e73022;
}
a{ text-decoration:none;}
.red_bg {
	background-color: #e73022;
}

.font_wieght700 {font-weight: 700;}
.font_wieght500 {font-weight: 500;}

footer {
	float: left;
	margin: 0 !important;
}
.copyright {
	width: 100%;
	float: left;
}

/*animation*/
.top-menu-bar ul li a,
.listing-card-cont,
.section-buttons li a,
.listing-details li a,
.event-views,
.filter-buttons-cont ul li,
.filter-icon
{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.section-img img {
	width: 100%;
	height: auto;
}
/* -[ Header css ]- */

	header {
		width: 100%;
		height: 100px;
		position: absolute;
		top: 0;
		left: 0;
		/*background-color: rgba(0,0,0,0.8);*/
		z-index: 10;
	}
	.top-logo {
		float: left;
		width: 155px;
		height: 60px;
		margin:20px 20px 0 20px;
		background-image: url(../images/logo.png);
		
		background-position: center center;
		background-repeat: no-repeat;
	}
	.top-menu-bar {
		float: right;
	}
	.top-menu-bar ul {
		list-style: none;
		float: right;
		margin: 33px 20px 0 20px;
	}
	.top-menu-bar ul li {
		display: inline-block;
		float: right;
		margin-right: 5px;
	}
	.top-menu-bar ul li a {
		height: 32px;
		display: block;
		padding: 0 20px;
		color: #fff;
		font-size: 16px;
		line-height: 32px;
	}
	.top-menu-bar ul li:hover a {
		text-decoration: none;
		color: #e73022;
	}
	.top-menu-bar ul li.top-menu-seprate-btn a {
		background-color: #e73022;
		border-radius: 2px;
	}
	.top-menu-bar ul li.top-menu-seprate-btn:hover a {color:#fff;}
	.menu-icon {
		display: inline-block;
		background-image: url(../image/top-menu-icons.png);
		margin-right: 5px;
		vertical-align: baseline;
		background-repeat: no-repeat;
	}
	.menu-icon.user {
		width: 13px;
		height: 13px;
		background-position: -13px -3px;
	}
	.menu-icon.phone {
		width: 8px;
		height: 16px;
		background-position: 0px 0px;
	}
	.hamburger-menu {
		width: 30px;
		height: 16px;
		float: right;
		margin: 40px 20px 0 0px;
		position: relative;
		cursor: pointer;
	}
	.hamburger-menu:before,
	.hamburger-menu:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 2px;
		left: 0;
		background-color: #fff;
	}
	.hamburger-menu:before {
		top: 0px;
	}
	.hamburger-menu:after {
		bottom: 0px;
	}
	.hamburger-menu .arrows {
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		top: 50%;
		transform: translateY(-50%);
		background-color: #fff;
	}

	header.sticky {
		position: fixed;
		background-color: #000;
	}

/* -[ End / Header css ]- */

/* -[ section-banner css ]- */
	section.section-banner-cont {
		width: 100%;
		height: 670px;
		float: left;
		background: #ccc;
		position: relative;
		overflow: hidden;
	}
	.section-img {
		width: 100%;
		height: 100%;
		background: red;
		position: absolute;
		top: 0;
		left: 0;
	}
	.section-img:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.7);
	}
	.section-caption-cont {
		width: 100%;
		text-align: center;
		height: auto;
		position: relative;
		text-align: center;
	}
	.section-banner .section-caption-cont {
		margin-top: 260px;
	}
	.section-lead-text {
		font-weight: 600px;
		color: #fff;
		font-size: 45px;
		line-height: 45px;
		letter-spacing: normal;
		margin-bottom: 15px;
	}
	.section-sub-lead-text {
		color: #fff;
		font-weight: 300;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 35px;
	}
	.section-buttons {
		list-style: none;
	}
	.section-buttons li {
		display: inline-block;
	}
	.section-buttons li a {
		display: block;
		padding: 0 40px;
		line-height: 50px;
		height: 50px;
		margin-right: 30px;
		border:1px solid #fff;
		color: #fff;
	}
	.section-buttons li:last-child a {margin-right: 0;}
	.section-buttons li a:hover {text-decoration: none;}
	.section-buttons li a.active,
	.section-buttons li:hover a {
		background-color: #e73022;
		border-color: #e73022;
	}

/* -[ End / section-banner css ]- */



	.section-text-cont {
		width: 100%;
		float: left;
		height: auto;
		position: relative;
		padding: 80px 0;
		background-color: red;
		background-image: url(../image/bg-pattern.png);
		background-repeat: repeat;
		background-position: top left;
	}
	.section-heading {
		width: 100%;
		text-align: center;
		float: left;
		margin-bottom: 60px;

	}
	.section-heading h1 {
		font-weight: 300;
		position: relative;
		display: inline;
	}
	.section-heading h1:before,
	.section-heading h1:after {
		position: absolute;
		content: '';
		top: 50%;
		transform: translateY(-50%);
		width: 250px;
		height: 1px;
		background-color: #000;
	}
	.section-heading h1:before {
		left: -270px;
	}
	.section-heading h1:after {
		right: -270px;
	}

	.explore-events-cont {
		position: relative;
		width: 100%;
		float: left;
		position: absolute;
		bottom: 0;
		padding-top: 26px;
		left: 0;
		height: 135px;
	}
	.explore-events-cont p { 
		text-align: center;
		max-width: 850px;
		font-size: 24px;
		line-height: 36px;
		color: #fff;
		margin: 0 auto;
	}
	.explore-events-cont span, .explore-events-cont a {display: inline-block;} 
	.three100,
	.onspon_com {font-size: 30px; margin:0 3px;
	}
	.three100 {font-size: 30px;}
	.exp-evt-link {	
		color: #fff;
		margin: 0 3px;
		display: inline-block;
		border-bottom: 2px solid #fff;
	}
	.exp-evt-link:hover {text-decoration: none;color: #fff;border-color: #000;}
/* [ Listing page ] */
	.listing-card-cont {
		width: 100%;
		height: 210px;
		background-color: #fff;
		border: 1px solid #e6e6e6;
		padding: 20px;
		position: relative;
		margin-bottom: 30px;	
		cursor: pointer;
	}
	.listing-card-cont:hover {
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
	}
	.list-img {
		width: 225px;
		height: 170px;
		overflow: hidden;
		float: left;
		margin-right: 10px;
	}
	.list-text-cont {
		width:54%;
		height: 170px;
		float: left;
		position: relative;
	}
	.listing-heading {
		font-weight: 400;
		max-height: 55px;
		height: 55px;
		float: left;
	}
	.listing-info {
		width: 100%;
		float: left;
		list-style: none;
	}
	.listing-info li {
		display: inline-block;
		float: left;
		width: 50%;
		margin-bottom: 12px;
		font-size: 15px;
		line-height: 20px;
		color: #6b6b6b;
	}
	.listing-icon {
		vertical-align: top;
		background-color: #fff;
		display: inline-block;
		margin-right: 8px;
		float: left;
		margin-bottom: 2px;
		background-image: url(../image/listing-icons.png);
		background-repeat: no-repeat;
	}
	.listing-icon.calender {
	    width: 21px;
	    height: 25px;
	    background-position: -2px -2.5px;
	}
	.listing-icon.like {
	    width: 18px;
	    height: 25px;
	    background-position: -51px -2.5px;
	}

	.listing-icon.view {
	    width: 20px;
	    height: 19px;
	    background-position: -74px -5px;
	}
	.listing-icon.placeholder {
	    width: 18px;
	    height: 22px;
	    background-position: -28px -2.5px;
	}
	.listing-details {
		list-style: none;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.listing-details li { 
		display: inline-block;
		float: left;
		width: 33.333333%;
	}
	.listing-details li a {
		display: block;
		text-align: center;
		font-size: 13px;
		padding: 5px 0;
		color: #6b6b6b;
	}
	.listing-details li:hover a {
		text-decoration: none;
		background-color: #e73022;
		color: #fff;
	}
	.premium .premium-tag {
		display: block;
	}
	.premium-tag {
		display: none;
		position: absolute;
		top: 10px;
		left: -15px;
		width: 130px;
		height: 35px;
		line-height: 35px;
		font-weight: 700;
		font-size: 15px;
		letter-spacing: 3.5px;
		box-shadow: 0 0 3px rgba(0,0,0,0.5);
		padding-left: 15px;
		color: #fff;
		border-top-right-radius:50px;
		border-bottom-right-radius:50px;
		background-color: #e73022;
		text-transform:uppercase;
	}
	.premium-tag:after {
		position: absolute;
		content: '';
		bottom: -8px;
		left: 0;
		border-bottom: 8px solid transparent;
		border-right: 15px solid #b6b6b6;

	}

/* [ End / Listing page ] */




/*Filer buttons */

.filter-buttons-cont {
	float: right;
	margin-bottom: 40px;
}
.filter-buttons-cont ul {
	list-style: none;
}
.filter-buttons-cont ul li {
	display: inline-block;
	padding: 11px 30px 10px 20px;
	color: #6b6b6b	;
	float: left;t;
	font-size: 16px;
	color: #6b6b6b;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	cursor: pointer;
	position: relative;
}

.filter-buttons-cont ul li.active,
.filter-buttons-cont ul li:hover {
	background-color:#e73022;
	border-color: #e73022;
	color: #fff;
}
.filter-icon {
	vertical-align: top;
	display: inline-block;
	margin-right: 8px;
	/*float: left;*/
	background-image: url(../image/filter-icons.png);
	background-repeat: no-repeat;
}
.filter-icon.filter {
    width: 22px;
    height: 19px;
    background-position: -38px -2px;
}
.filter-icon.sort {
    width: 21px;
    height: 26px;
    background-position: -69px -2px;
    margin-top: -4px;
}
.filter-buttons-cont ul li.active .filter-icon.filter,
.filter-buttons-cont ul li:hover .filter-icon.filter {
    background-position: -7px -2px;
}
.filter-buttons-cont ul li.active .filter-icon.sort,
.filter-buttons-cont ul li:hover .filter-icon.sort {
	background-position: -98px -2px;
}

/* Filter toggle data */
.filter-data {
	width: 300px;
	max-width: 300px;
	height: auto;
	position: absolute;
	top: 60px;
	left: 0;
	border: 1px solid #e73022;
	background-color: #fff;
	z-index: 5;
	padding: 20px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.filter-data:before {
	position: absolute;
	content: '';
	width: 13px;
    height: 13px;
    top: -7px;
    left: 30px;
	transform: rotate(45deg);
	background-color: #fff;
	border-top: 1px solid #e73022;
	border-left: 1px solid #e73022;
}
.filter-buttons-cont ul li.active .filter-data,
.filter-buttons-cont ul li:hover .filter-data { 
	color: #6b6b6b;
}
.filter-data {
	text-transform: none;
	letter-spacing: normal;
}
.filter-radio-div {
	margin-bottom: 15px;
}
.filter-radio-div:last-child {margin-bottom: 0;}



















/*------------------shahedin shaikh--------------------------*/
		.listing-card-cont-1{
			height: 522px;
			padding: 18px;
		}
		.listing-card-cont-1 .listing-heading {
		    margin-top: 32px;
		}
		.listing-card-cont-1 .list-img,
		.listing-card-cont-1 .list-text-cont {
		    width: 100%;
		}
		.listing-card-cont-1 .list-text-cont {
			height: 235px;
		}
		.listing-card-cont-1 .list-img{
			height: 248px;
		}

		.listing-card-cont-1 .premium-tag {
			top: 240px;
		}
			

	    .after-listing-text{
	    		clear: both;
	 			float: left;
	    		color: gray;
	    }

	    .load-button{
			    color: #999999;
			    border: 1px solid #999999;
			    background: transparent;
			    padding: 13px;
			    width: 256px;
			    margin-top: 45px;
			    font-size: 18px;
			    padding-right: 45px;
			    margin-left: -10px;
			    letter-spacing: 2px;
			    transition: all 0.3s ease-in-out 0s;
}
	    
	            .sprite-load{
	    	    width: 38px;
			    overflow: hidden;
			    position: absolute;
			    height: 31px;
			    background: url(../image/button-icons.png) 0 0;
			    background-position: 5px 67px;
			    margin-left: 5px;
			    margin-top: -3px;
			    transition: all 0.3s ease-in-out 0s;

}
			.load-button:hover .sprite-load{

				width: 38px;
			    overflow: hidden;
			    position: absolute;
			    height: 31px;
			    background: url(../image/button-icons.png) 0 0;
			    background-position: 5px 34px;
			    margin-left: 5px;
			    margin-top: -3px;
			}
			.load-button:hover {
				border: 1px solid #e73022;
			    color: white;
			    background-color: #e73022;
			    padding: 13px;
			    width: 256px;
			    margin-top: 45px;
			    font-size: 18px;
			    padding-right: 45px;
			    margin-left: -10px;
			    letter-spacing: 2px;
}

/************srk*******/
.shortlisted-event{ padding-top: 80px;}


.section-heading .bold-text{font-weight: 400;}

.apparel{ padding-top: 80px; }

.apparel .event-viewed{ font-size:24px; color:#010101; text-align:center;}

.event-views{ width:100%; height:312px; padding:18px;background-color: #fff;
    border: 1px solid #e6e6e6;cursor: pointer;
}

.event-views:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.event-img { width:100%; height:215px; position:relative;}

.event-img img{ width:100%; height:100%;}


.listing-card-cont-1 .list-img img{
			height: 100%;
		}

.view-icon{position: absolute;
    top: 0;
    left: 0;
	display:none;
    background: rgba(0, 0, 0,0.5);
    width: 100%;
    height: 100%;
    text-align: center;}

.view-icon img {
    width: 46px;
    height: 26px;
    text-align: center;
    margin-top: 29%;
}
.event-img:hover .view-icon {
    display: block;
}

.views-title{ font-size:24px; color:#000; margin-top:30px;}


.views-title .views{ color:#e73022; float:right;}
.views-title a{ text-decoration:none; color:#000;}
.load-view {
    background-position: -33px -2px;
}
.load-button:hover .sprite-load.load-view {
    background-position: -33px -33px;
}

section.amazing-deals {
    padding-top: 80px;
}

.shortlist-details{    clear: both;
    padding-top: 29px;}

.shortlist-details li {
    float: left;
    text-align: center;
    width: 50%;
}
.shortlist-details li:first-child {
    border-right: solid 1px #bbb;
}

.shortlist-details li a{display: block;
    text-align: center;
    font-size: 13px;
    padding: 5px 0;
    color: #6b6b6b; text-decoration:none;}















