@import "salman.css";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	border: 0;
}
body {
	margin: 0;
	padding: 0;
	overflow: auto;
	/*font-family: Roboto, sans-serif;
	font-weight:600*/;
}
.item.has-video {
	height: 630px;
}
.video {
	position: absolute;
	left: 0;
	right: 0;
}
div#banner {
	position: relative;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}
.header {
	overflow: hidden;
}
.logo {
	padding: 25px;
}
.navigation {
	float: right;
}
.navigation .inline-nav {
	padding: 35px 25px 0 0;
	margin: 0;
	display: flex;
}
.navigation .inline-nav li a {
	color: #fff;
	text-decoration: none;
	padding: 12px;
	line-height: 30px;
}
.navigation .inline-nav li a.active, .navigation .inline-nav li a:hover {
	transition: ease 0.5s;
	background: #e73022;
}
.ion-close-round:before {
	content: "\f00d" !important;
	font-family: FontAwesome;
}
/*******navigation css***********/



.smobitrigger, .mnuclose {
	display: none;
}
.navigation nav ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.navigation nav ul li {
	display: inline-block;
}
.navigation nav ul li a {
	color: #fff;
	font-weight: 600;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 20px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.navigation nav ul li a:hover {
	background: rgb(234, 214, 54);
	color: #441B0A;
}
.smobitrigger, .mnuclose {
	display: inline-block;
	font-weight: normal;
}
.smobitrigger {
	color: #fff;
	font-size: 30px;
	padding: 0 !important;
	line-height: 12px;
}
.smobitrigger:hover {
	background-color: transparent !important;
}
.mnuclose {
	font-size: 20px;
	padding: 10px 20px;
	width: 100%;
	background: rgba(0, 0, 0, 0.18);
}
.smobitrigger span, .mnuclose span {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
.navigation nav ul {
	padding-bottom: 40px;
	overflow-y: auto;
	background-color: #e93f32 !important;
}
.navigation nav ul li, .navigation nav ul li a {
	width: 100%;
}
.navigation nav ul li a {
	padding-top: 5px;
	padding-bottom: 5px;
}
.navigation nav ul li a:hover {
	background: rgba(0, 0, 0, 0.29);
}
.navwrp ul li a {
	padding: 5px 10px !Important;
}
.mobimenu {
	list-style: none;
	padding: 20px;
	margin: 0px;
	width: 210px;
	position: fixed;
	height: 100%;
	top: 0px;
	right: -250px;
}
.mnuopn {
	right: 0px !important;
}
.ovrActv {
	position: fixed;
	background: rgba(0, 0, 0, 0.79);
	width: 100%;
	height: 100%;
	z-index: 9998;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
/*== crousel css ==*/

.banner {
	width: 100%;
	height: 632px;
}
.banner-caption {
	text-align: center;
	position: relative;
	top: 240px;
}
.banner-caption h1 {
	font-size: 45px;
	text-transform: capitalize;
	color: #fff;
	font-weight: 600;
}
.banner-caption h1 span {
	color: #e73022;
}
.banner-caption h3 {
	color: #fff;
	font-size: 32px;
	padding: 20px 0;
}
.banner-caption ul li button {
	width: 250px;
	height: 50px;
	color: #fff;
	background: transparent;
	outline: none;
	border: 1px solid #fff;
	font-size: 20px;
}
.banner-caption ul li button:hover, .banner-caption ul li button.active {
	background: #e73022;
	border-color: #e73022;
}
/************* banner-form css*************/
.banner-form {
	border-bottom: 0;
}
.banner-form li {
	width: 250px;
	text-align: center;
}
.banner-form li.pull-right {
	font-size: 29px;
	width: 341px;
	color: #fff;
	text-transform: uppercase;
}
.banner-form li.pull-right span {
	color: #e73022;
}
.banner-form li a {
	border: none !important;
	border-right: solid 1px #fff !important;
	background: #000;
	color: #fff;
	border-radius: 0;
	margin: 0;
}
.banner-form li.active a {
	background-color: #e73022;
	color: #fff;
}
.banner-form li.active a:hover, .banner-form li.active a:focus {
	background-color: #e73022;
	color: #fff;
	border-radius: 0;
}
.banner-form li a:last-child {
	border: 0 !important;
}
.banner-form li a:hover, .banner-form li a:focus {
	background-color: #e73022;
	border-radius: 0;
}
.datepicker {
	padding: 10px;
	top: 508px !important;
}
#avik form.form-inline input {
	height: 40px;
	outline: none;
	border-radius: 0;
	border: 0;
	display: inline-block;
}
#avik form.form-inline .input-group-addon {
	border-radius: 00;
	background: #fff;
	border: none;
	padding: 0 0 0 10px;
}
#avik {
	padding-bottom: 26px;
}
.search-panel .dropdown-toggle {
	margin: 0;
	padding: 9px;
	border-radius: 0;
	width: 200px;
	height: 40px;
	color: #948d8d !important;
	text-align: left;
	background: #fff !important;
	border: 0;
	border-left: solid 1px #bbb;
	border-right: solid 1px #bbb;
}
.search-panel .dropdown-toggle span.caret {
	float: right;
	margin-top: 8px;
}
.datepicker-dropdown.datepicker-orient-top:after {
	bottom: -6px !important;
	top: 100%;
}
.datepicker-dropdown:after {
	transform: rotate(180deg);
}
.datepicker-dropdown.datepicker-orient-top:before {
	border: 0 !important;
}
#search_concept img {
	right: 10px;
	top: 16px;
	position: absolute;
}
.search-last {
	margin-left: -3px;
	border-left: solid 1px #bbb;
}
.search-last input[type="text"] {
	padding-left: 10px;
	outline: none;
	width: 245px;
}
.search-last input[type="submit"] {
	background: #e73022;
	width: 130px;
	color: #fff;
}
input#date {
	width: 140px;
}
.border-right {
	border-right: solid 1px #bbb !important;
}
.search-panel ul.dropdown-menu {
	width: 100%;
	border-radius: 0;
	top: 37px;
	background: #fff;
}
/**************** banner end here ******************/

#wrapper {
	clear: both;
}
.platform {
	padding-top: 15px;
}
.heading {
	overflow: hidden;
	text-align: center;
}
.heading h1 {
	text-align: center;
	font-size: 33px;
	display: inline-block;
	position: relative;
	text-transform: capitalize;
	color: #0d130b;
}
.heading h1 span {
	color: #e73022;
}
.heading h1:before, .heading h1:after {
	background: #ddd;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 50% !important;
}
.heading h1:before {
	right: 105%;
}
.heading h1:after {
	left: 105%;
}
/*********progress bar ************/
.set-size {
	text-align: center;
	font-size: 10em;
	padding-top: 50px;
}
.charts-container:after {
	clear: both;
	content: "";
	display: table;
}
.pie-wrapper {
	height: 1em;
	width: 1em;
	display: inline-block;
	margin: 10px;
	padding: 6px;
	position: relative;
}
.pie-wrapper .pie {
	height: 100%;
	width: 100%;
	clip: rect(0, 1em, 1em, 0.5em);
	left: 0;
	position: absolute;
	top: 0;
}
.pie-wrapper .pie .half-circle {
	height: 100%;
	width: 100%;
	border: 0.1em solid #3498db;
	border-radius: 50%;
	clip: rect(0, 0.5em, 1em, 0);
	left: 0;
	position: absolute;
	top: 0;
}
.pie-wrapper .label {
	background: #34495e;
	border-radius: 50%;
	bottom: 0.4em;
	color: #ecf0f1;
	cursor: default;
	display: block;
	font-size: 0.25em;
	left: 0.4em;
	padding-top: 29px;
	font-size: 13% !Important;
	line-height: 2em;
	position: absolute;
	right: 0.4em;
	text-align: center;
	top: 0.4em;
}
.pie-wrapper .label .smaller {
	color: #bdc3c7;
	font-size: .45em;
	padding-bottom: 20px;
	vertical-align: super;
}
.pie-wrapper .shadow {
	height: 100%;
	width: 100%;
	border: 2px solid #bdc3c7;
	border-radius: 50%;
}
.pie-wrapper.style-2 .label {
	background: #eaeaea;
	color: #7f8c8d;
	margin: 12px;
}
.pie-wrapper.style-2 .label .smaller {
	color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .right-side {
	display: none;
}
.pie-wrapper.progress-30 .pie .half-circle {
	border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
	-webkit-transform: rotate(108deg);
	transform: rotate(108deg);
}
.pie-wrapper.progress-60 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-60 .pie .half-circle {
	border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
	-webkit-transform: rotate(216deg);
	transform: rotate(216deg);
}
.pie-wrapper.progress-90 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie .half-circle {
	border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
	-webkit-transform: rotate(324deg);
	transform: rotate(324deg);
}
.pie-wrapper.progress-45 .pie .right-side {
	display: none;
}
.pie-wrapper.progress-45 .pie .half-circle {
	border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
	-webkit-transform: rotate(162deg);
	transform: rotate(162deg);
}
.pie-wrapper.progress-75 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-75 .pie .half-circle {
	border-color: #2a2a2a;
}
.pie-wrapper.progress-75 .pie .left-side {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
.pie-wrapper.progress-95 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie .half-circle {
	border-color: #de171a;
}
.pie-wrapper.progress-95 .pie .left-side {
	-webkit-transform: rotate(342deg);
	transform: rotate(342deg);
}
.pie-wrapper--solid {
	border-radius: 50%;
	overflow: hidden;
}
.pie-wrapper--solid:before {
	border-radius: 0 100% 100% 0%;
	content: '';
	display: block;
	height: 100%;
	margin-left: 50%;
	-webkit-transform-origin: left;
	transform-origin: left;
}
.pie-wrapper--solid .label {
	background: transparent;
}
.pie-wrapper--solid.progress-65 {
	background: -webkit-linear-gradient(left, #e67e22 50%, #34495e 50%);
	background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
	background: #e67e22;
	-webkit-transform: rotate(126deg);
	transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
	background: -webkit-linear-gradient(left, #9b59b6 50%, #34495e 50%);
	background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
	background: #34495e;
	-webkit-transform: rotate(-270deg);
	transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
	background: -webkit-linear-gradient(left, #3498db 50%, #34495e 50%);
	background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
	background: #3498db;
	-webkit-transform: rotate(43.2deg);
	transform: rotate(43.2deg);
}
.sponsor {
	font-size: 16px;
	line-height: 32px;
	clear: both;
	text-align: center;
	color: #fff;
	transition: ease 0.5s;
	margin-top: 30px;
}
.sponsor a {
	text-decoration: none;
	color: #fff;
}
.sponsor.black {
	background: #2a2a2a;
}
.sponsor.red {
	background: #e73022;
}
.sponsor.black:hover {
	background: #e73022;
}
.sponsor.red:hover {
	background: #2a2a2a;
}
#event {
	background: #f5f5f5;
}
#event .heading {
	padding-top: 25px;
}
#event .heading h1:before, #event .heading h1:after {
	background: #ddd;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 300% !important;
}
/********** filter gallery ***************/


#info {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fcf8e3;
	border: 1px solid #fbeed5;
	width: 95%;
	max-width: 900px;
	margin: 0 auto 40px auto;
	font-family: arial;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#info .info-wrapper {
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#info a {
	color: #c09853;
	text-decoration: none;
}
#info p {
	margin: 5px 0 0 0;
}
.container {
	position: relative;
	margin: 0 auto;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#filters {
	margin: 1% auto;
	width: 75%;
	padding: 0;
	list-style: none;
}
#filters li {
	float: left;
}
#filters li span {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	margin: 0 10px;
	font-size: 18px;
	cursor: pointer;
}
#filters li span.active {
	color: #e95a44;
	border-bottom: solid 2px #e95a44;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	display: none;
	padding: 10px;
	float: left;
	overflow: hidden;
}
.width80 {
	width: 80% !important;
}
.width20 {
	width: 20% !important;
}
.width33 {
	width: 25% !important;
}
.portfolio-wrapper {
	overflow: hidden;
	position: relative !important;
	background: #666;
	cursor: pointer;
}
.portfolio img {
	max-width: 100%;
	position: relative;
	top: 0;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	bottom: 0;
	padding-top: 50%;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.portfolio .label-bg {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.portfolio .label-text {
	color: #fff;
	position: relative;
	z-index: 500;
	padding: 5px 8px;
}
.portfolio .text-category {
	display: block;
	font-size: 14px;
	font-weight: 500;
	margin-top: 6px;
}
.portfolio:hover .label {
	display: block
}
.portfolio:hover img {
	top: 0;
}

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.container {
	width: 768px;
}
}

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
.container {
	width: 95%;
}
#portfoliolist .portfolio {
	width: 48%;
	margin: 1%;
}
#ads {
	display: none;
}
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {
	width: 70%;
}
#ads {
	display: none;
}
}
/* #Clearing */

/* Self Clearing Goodness */
.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row:after, .clearfix:after {
	clear: both;
}
.row, .clearfix {
	zoom: 1;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.width80 .portfolio-wrapper .label {
	padding-top: 11%;
}
.portfolio .label-text a.text-title {
	font-size: 17px;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
}
.width80 .portfolio-wrapper img {
	width: 100%;
	height: 246px;
}
.button {
	padding: 25px 0 40px 0;
	text-align: center;
	clear: both;
}
/*.button a{ line-height:45px; padding:15px 50px; transition: ease 0.5s; background:#e73022; color:#fff; text-decoration:none;}
.button a:hover{box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);}
*/
.button a {
	border: none;
	background: #e73022;
	color: #fff;
	text-decoration: none;
	padding: 15px 50px;
	font-size: 16px;
	position: relative;
	box-sizing: border-box;
	transition: all 0.5s ease;
}
.button a:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 49px;
	background: rgba(255,255,255,0.3);
	transition: all 1s ease;
}
.button a:hover:before {
	width: 100%;
}
#event-list {
	background: url(../images/event-list-banner.jpg) no-repeat 0 0;
	min-height: 400px;
}
#event-list .event-list {
	padding-top: 100px;
}
.event-list h1 {
	font-size: 51px;
	color: #fff;
	text-align: center;
}
.event-list p {
	text-align: center;
	font-size: 18px;
	color: #fff;
	padding: 25px 0;
	line-height: 24px;
	width: 60%;
	margin: auto;
}
.event-list form.form-inline {
	width: 70%;
	margin: auto;
}
.event-form input {
	height: 40px;
	outline: none;
	border-radius: 0;
	border: 0;
	display: inline-block;
}
.event-form input[type="submit"] {
	background: #e73022;
	width: 130px;
	color: #fff;
}
.event-list form.form-inline input {
	height: 40px;
	outline: none;
	border-radius: 0;
	border: 0;
	display: inline-block;
	margin-right: -3px;
}
#about-onspon {
	background: url(../images/about-onspon.jpg) no-repeat 0 0;
	min-height: 620px;
}
#about-onspon .heading {
	padding: 50px 0 30px 0;
}
#about-onspon .heading h1:before, #about-onspon .heading h1:after {
	background: #000;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 70%;
}
#onspon .item h3 {
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}
#onspon .item h3 span {
	color: #e73022;
}
#onspon ol.carousel-indicators {
	bottom: -50px;
}
#onspon ol.carousel-indicators li {
	background: #000;
	border: 0;
}
#onspon ol.carousel-indicators .active {
	background: #e73022;
	height: 12px;
	width: 12px;
}
.roshni {
	padding-top: 40px;
}
.roshni .title {
	font-size: 16px;
	font-weight: 600;
	padding-top: 15px;
}
.roshni .title span {
	display: block;
	font-weight: 500;
	font-size: 14px;
}
.roshni p {
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 8px;
}
/*** Timeline ***/

#timeline {
	width: 100%;
	padding-top: 30px;
	overflow: hidden;
	height: 600px;
}
#timeline ul {
	position: relative;
	list-style: none;
	float: left;
}
#timeline ul li {
	float: left;
	width: 100%;
	max-width: 440px;
	position: relative;
	text-align: center;
	margin: 0 0 80px 0;
}
#timeline ul li:nth-child(2), #timeline ul li:nth-child(4) {
	float: right;
}
#timeline ul li:nth-child(2) {
	margin-top: 120px;
}
#timeline ul li .timeline-heading {
	text-align: center;
	font-size: 22px;
	color: #e73022;
	margin-top: 10px;
}
#timeline ul li p {
	font-size: 15px;
	line-height: 26px;
	color: #fff;
}
#timeline ul:before {
	position: absolute;
	top: 0;
	left: 50%;
	content: '';
	width: 5px;
	height: 100%;
	background-color: #e73022;
}
#timeline ul:after {
	position: absolute;
	content: '\f078';
	font-family: 'FontAwesome';
	color: #e73022;
	font-size: 20px;
	text-align: center;
	bottom: 0;
	left: 50%;
	padding: 3px;
	transform: translateX(-50%);
	width: 20px;
	height: 20px;/*background-color: #fff;*/
}
#timeline ul li:before {
	width: 45px;
	height: 45px;
	background-color: #e73022;
	line-height: 45px;
	text-align: center;
	position: absolute;
	content: '';
	font-size: 22px;
	font-weight: 700;
	border: 2px solid #000;
	color: #fff;
	top: 0;
	border-radius: 100%;
	top: 50%;
	transform: translateY(-50%);
}
#timeline ul li:nth-child(1):before, #timeline ul li:nth-child(3):before {
	right: -170px;
}
#timeline ul li:nth-child(1):before {
	content: '1';
}
#timeline ul li:nth-child(2):before {
	content: '2';
}
#timeline ul li:nth-child(3):before {
	content: '3';
}
#timeline ul li:nth-child(4):before {
	content: '4';
}
#timeline ul li:nth-child(2):before, #timeline ul li:nth-child(4):before {
	left: -165px;
}
#timeline ul li:after {
	position: absolute;
	content: '';
	width: 100px;
	height: 3px;
	background-color: #e73022;
	top: 50%;
	transform: translateY(-50%);
}
#timeline ul li:nth-child(1):after, #timeline ul li:nth-child(3):after {
	right: -130px;
}
#timeline ul li:nth-child(2):after, #timeline ul li:nth-child(4):after {
	left: -130px;
}
#timeline ul li:nth-child(4) {
	margin-bottom: 0;
}
#how-work {
	background: url(../images/how-work.jpg) no-repeat 0 0;
	background-size: cover;
	height: 782px;
	padding: 60px 0;
	position: relative;
	overflow: hidden;
}
.timeline-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.80);
	z-index: 1;
	display: block;
}
#how-work .container {
	z-index: 1;
}
#how-work .heading h1 {
	color: #fff;
}
#how-work .heading h1:before, #how-work .heading h1:after {
	width: 150% !important;
}
.sponsors {
	width: 100%;
}
.sponsor-left, .sponsor-right {
	height: 560px;
	width: 50%;
	float: left;
	position: relative;
}
.sponsor-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}
.sponsor-left {
	background: #e73022;
}
.sponsor-list {
	list-style: none;
	padding: 70px 50px;
}
.sponsor-list li {
	float: left;
	width: 33%;
	height: 140px;
}
.sponsor-list li a img {
	transform: translateY(50%);
}
.sponsor-right {
	background: #000;
}
.sponsor-right .heading h1:before, .heading h1:after {
	background: #fff;
	width: 15% !important;
}
.sponsor-right .heading h1 {
	color: #fff
}
.sponsor-right .heading h1:before {
	right: 102%
}
.sponsor-right .heading h1:after {
	left: 102%
}
.sponsor-right .heading {
	padding: 60px 0 40px 0;
}
#myCarousel {
	width: 540px;
	margin: auto;
}
.hcl-title {
	font-size: 16px;
	font-weight: 600;
	padding-top: 15px;
}
.hcl-title span {
	display: block;
	font-weight: 500;
	font-size: 14px;
}
.gaurav p {
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 8px;
}
.gaurav {
	color: #fff;
}
#myCarousel ol.carousel-indicators {
	bottom: -50px;
}
#myCarousel ol.carousel-indicators li {
	background: #fff;
}
#myCarousel ol.carousel-indicators li.active {
	background: #e73022;
	border: 0;
}
.engage-with-us {
	padding-top: 55px;
}
.engage-with-us .heading h1:before, .engage-with-us .heading h1:after {
	background: #000;
	width: 100% !important;
}
ul.engage-logo {
	list-style: none;
	height: 320px;
}
ul.engage-logo li {
	width: 25%;
	height: 190px;
	line-height: 190px;
	float: left;
}
#engage {
	padding-top: 50px;
	margin-bottom: 70px;
}
#engage ol.carousel-indicators {
	bottom: -26px;
}
#engage ol.carousel-indicators li {
	border: 0;
	background: #000;
}
#engage ol.carousel-indicators li.active {
	background: red;
	border: 0;
}
.newsletter {
	padding-top: 35px;
	background: #e73022;
	height: 108px;
}
.newsletter h3 {
	font-size: 33px;
	font-weight: 300;
	color: #fff;
}
.newsletter-right {
	width: 330px;
	float: right;
}
.newsletter-right .input-group input {
	height: 36px;
	border: 0;
	outline: none;
}
.newsletter-right .input-group input[type="text"] {
	width: 210px;
	background: #fff;
	color: #e73022;
	padding-left: 10px;
}
 .newsletter-right .input-group input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
 color:    #e73022;
}
.newsletter-right .input-group input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #e73022;
 opacity:  1;
}
.newsletter-right .input-group input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #e73022;
 opacity:  1;
}
.newsletter-right .input-group input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
 color:    #e73022;
}
.newsletter-right .input-group input[type="submit"] {
	width: 105px;
	color: #fff;
	background: #000;
}
.write-us {
}
.write-us .heading h1:before, .write-us .heading h1:after {
	width: 150% !important;
	background: #000;
}
.write-us .heading {
	padding-top: 45px;
	padding-bottom: 55px;
}
.contact-form p {
	font-size: 14px;
	color: #000;
	line-height: 24px;
}
.form input.name {
	height: 40px;
	border: solid 1px #000;
	width: 100%;
	padding-left: 15px;
	outline: none;
	margin-bottom: 20px;
}
.form {
	padding-top: 90px;
}
.form .textaria {
	border: solid 1px #000;
	width: 100%;
	padding-left: 15px;
	outline: none;
	margin-bottom: 20px;
}
.submit-button {
	border: none;
	background: #000;
	color: #fff;
	text-decoration: none;
	padding: 15px 50px;
	font-size: 16px;
	position: relative;
	box-sizing: border-box;
	transition: all 0.5s ease;
}
.map ul {
	list-style: none;
}
.map ul li {
	float: left;
}
.map ul li .map-title {
	text-transform: uppercase;
	font-size: 18px;
	color: #e73022;
	font-weight: 700;
}
.map ul li span {
	display: block;
	font-size: 13px;
	color: #000;
	font-weight: 500;
}
.map iframe {
	margin-top: 143px;
}
footer {
	background: #000;
	margin-top: 35px;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 35px;
}
.footer-one ul li {
	color: #727272;
	margin-bottom: 5px;
}
.footer-one ul {
	margin-top: 10px;
}
.footer-one ul li i {
	margin-right: 5px;
}
.link {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}
.link ul li a {
	font-size: 14px;
	color: #727272;
	line-height: 24px;
	text-decoration: none;
}
.link ul li a i, .link ul li a span.red {
	color: red;
}
.copyright {
	height: 61px;
	background: #262626;
	color: #727272;
}
.copy-left {
	line-height: 61px;
	float: left;
	width: 80%;
}
.copy-left a {
	text-decoration: none;
	color: #727272;
}
.copy-right {
	float: right;
	padding-top: 22px;
}
.copy-right ul li a {
	color: #727272;
}
