.auth-icon {
    display: block;
    width: 100%;
    height: 32px;
    background: url(authchoice.png) no-repeat;
    border-radius: 3px;
    padding-left: 5px;
    color: #fff;
}

.auth-icon.google {
    background-position: 32px -34px;
    background-color: #df4f3f;
}
.auth-icon.twitter {
    background-position: 0 -68px;
}
.auth-icon.yandex {
    background-position: 0 -102px;
}
.auth-icon.vkontakte {
    background-position: 0 -136px;
}
.auth-icon.facebook {
    background-position: 32px -170px;
        background-color: #3a5897;
}
.auth-icon.linkedin {
    background-position: 32px -204px;
    background-color: #007ab5;
}
.auth-icon.github {
    background-position: 0 -238px;
}
.auth-icon.live {
    background-position: 0 -272px;
}

.auth-clients {
    display: block;
    width: 100%;
    margin: 0 0 1em;
    list-style: none;
    overflow: hidden;
}

.auth-clients li {
     display: inline-block;
    width: 30%;
    margin: 0 4px;
}

.auth-title {
    display: block;
    margin-top: 0.4em;
    text-align: center;
    width: 58px;
}