/*=====User Massege Page======*/
.UserMsg_COntr {background:#fff; margin-bottom: 80px; clear:both; border:1px solid #EBEBEB; overflow:hidden;}
.UserMsg_COntr > .tab_COntnr {width:190px; float:left; list-style-type:none; margin-top:40px;}
.UserMsg_COntr > ul > li {clear:both; width:100%; border:none; border-bottom:1px solid #EBEBEB;}
.UserMsg_COntr > ul > li > a {display:block; padding:10px; text-decoration:none; position:relative; text-transform:uppercase;
font-weight:700;
color:#6b6b6b;
letter-spacing:4px;
transition:all 0.3s ease-in-out 0s;
-webkit-transition:all 0.3s ease-in-out 0s;
-moz-transition:all 0.3s ease-in-out 0s;
-mz-transition:all 0.3s ease-in-out 0s;
-o-transition:all 0.3s ease-in-out 0s;
 }
.UserMsg_COntr > ul > li > a:hover {background-color:#EE4A2D; color:#fff;}
.UserMsg_COntr > ul > li > a:focus {background-color:#EE4A2D; color:#fff;}
.UserMsg_COntr > ul > li > a > span {
    background: url('../image/inbox.png') no-repeat -3px -4px;
    height: 24px;
    width: 27px;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
	transition:all 0.3s ease-in-out 0s;
-webkit-transition:all 0.3s ease-in-out 0s;
-moz-transition:all 0.3s ease-in-out 0s;
-mz-transition:all 0.3s ease-in-out 0s;
-o-transition:all 0.3s ease-in-out 0s;
}
.UserMsg_COntr > ul > li > a:hover > span { background: url('../image/inbox.png') no-repeat -3px -29px;}
.UserMsg_COntr > ul > li > a:focus > span { background: url('../image/inbox.png') no-repeat -3px -29px;}
.UserMsg_COntr > ul > li:nth-child(2) > a > span {background: url(../image/inbox.png) no-repeat -30px -5px;}
.UserMsg_COntr > ul > li:nth-child(2) > a:hover > span {background: url(../image/inbox.png) no-repeat -30px -30px;}
.UserMsg_COntr > ul > li:nth-child(2) > a:focus > span {background: url(../image/inbox.png) no-repeat -30px -30px;}
.UserMsg_COntr > ul > li:last-child {border:none;}
/*.UserMsg_COntr > ul > li > a:before {
	position:absolute;
	content:'';
	top:50%;
	right:0;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-mz-transform:translateY(-50%);
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:10px solid transparent;
	}*/
	
	
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right:7px solid #fff;
  position:absolute; 
  top:13px;
  right:0;
}
/*2nd*/
.list_COntnr {width:292px; float:left; border-right:1px solid #EBEBEB; height:500px; border-left:1px solid #EBEBEB; overflow-y:scroll;}
.list_COntnr ul {list-style-type:none;}
.list_COntnr ul > li > a {border-bottom:1px solid #EBEBEB; display:block; overflow:hidden; padding:10px; border-right:4px solid transparent;
transition:all 0.3s ease-in-out 0s;
-webkit-transition:all 0.3s ease-in-out 0s;
-moz-transition:all 0.3s ease-in-out 0s;
-mz-transition:all 0.3s ease-in-out 0s;
-o-transition:all 0.3s ease-in-out 0s;
}
.list_COntnr ul > li > a:hover {background:#F1F1F1; border-right:4px solid #EE4A2D;}
.list_COntnr ul > li > a:focus {background:#D2D2D2; border-right:4px solid #EE4A2D;}
.list_COntnr ul > li > a:focus h3, .list_COntnr ul > li > a:focus p {color:#000;}
.list_COntnr ul > li > a > ul > li {float:left;}
.list_COntnr ul > li > a > ul > li > img {width:100%; height:60px;}
.list_COntnr ul > li > a > ul > li:nth-child(1) {width:30%;}
.list_COntnr ul > li > a > ul > li:nth-child(2) {width:70%; padding-left:10px;}
.list_COntnr ul > li > a > ul > li h3 {font-size:12px; margin:0; padding:0; line-height:18px; font-weight:normal; color:#949494;}
.list_COntnr ul > li > a > ul > li p {font-size:12px; margin:0; padding:0; line-height:1.6; color:#949494; margin-top:8px;}
.list_COntnr ul > li > a > ul > li p > i {margin-right:3px;}

.listActive>li> h3,.listActive > li> p{color:#000 !important; font-weight:700 !important;}
/*3rd*/
.msg_Contnr {width:686px; float:left;height:500px;overflow-y:scroll; padding:0 5px;}
.msgHeader > div {float:left; padding:10px; position:relative; padding-top:20px;}
.msgHeader > div >ul > li {float:left; list-style-type:none; border:1px solid #ddd;}
.msgHeader > div >ul > li > a {padding:3px 8px;display:block; color:#A5A5A5;}
.msgHeader > div >ul > li > a:hover {color:#EE4A2D;}
.msgHeader > div >ul > li > a > i {font-size:16px;}

.msgHeader > ul{float:right; list-style-type:none; padding:10px; padding-top:20px;}
.msgHeader > ul > li {display:inline-block; border-right:1px solid #CFCFCF; line-height:16px; padding:0 8px; color:#6b6b6b;}
.msgHeader > ul > li > i {margin-right:8px;}
.msgHeader > ul > li:last-child {border:0;}
.msg_Innr_Contr {padding:10px; clear:both;}
.msg_Innr_Contr > p:nth-child(1) {color:#6b6b6b;}
.msg_Innr_Contr > p:nth-child(2) {font-weight:700; border-left:2px solid #EE4A2D; line-height:16px; padding-left:8px; margin-top:45px;}


/*tooltip*/
.delTooltip {
	position: absolute;
	top:3px;
	background: #EE4A2D;
	padding: 0 5px;
	font-size:10px;
	color:#fff;
	display:none;
	line-height:18px;
	text-transform:uppercase;
	letter-spacing:1px;
}
.delTooltip:after, .delTooltip:before {
	top: 100%;
	left: 12%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.delTooltip:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #EE4A2D;
	border-width: 5px;
	
}
.inboxtabactive {
    background: #EE4A2D;
    color: #fff !important;
}
