@import 'bootstrap.css';
@import 'slick.css';
@import 'font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';

/* [common css] */
* {
	margin: 0;
	padding: 0;
}
.left {float: left;}
.right {float: right;}
ul {list-style: none; margin: 0; padding: 0;}
a {text-decoration: none;color: #000;}
a:hover {text-decoration: none;}
/* [ Animation ] */

nav ul li a,
header,
header.sticky,
.header-logo,
.form-input,
.form-btn
{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

/* [//common css] */

body {
	font-size: 13px;
	line-height: 22px;
	font-family: 'Roboto', sans-serif;
	color: #777777;
}
/*[ Header css ]*/
header {
	width: 100%;
	height: 100px;
	background-color: #000;
	padding: 10px;
}
.header-logo {
	min-width: 200px;
	height: 80px;
	line-height: 80px;
	background-color: #fff;
	display: block;
	text-align: center;
}
nav {margin-top: 25px;}
nav ul li {display: inline-block; float: left;}
nav ul li a {
	color: #fff;
	padding: 7px 18px;
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
}
nav ul li:hover a {
	background-color: #e25050;
}
header.sticky {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 50px;
	padding: 5px 0;
}
header.sticky .header-logo {height: 40px; line-height: 40px;}
header.sticky nav {margin-top: 3px;}
nav ul li a.active {background-color: #e25050;}

/*[ //Header css ]*/
/*[ slider css ]*/

.slider-container {
	width: 100%;
	height: 580px;
	float: left;
	position: relative;
}
.home-slider, .home-slide {
	width: 100%;
	height: 580px;
	position: relative;
	float: left;
}
.slide-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.slide-text {
	float: left;
	position: relative;
	z-index: 1;
	margin-top: 220px; 
}
.small-text,
.big-text,
.medium-text {
	padding:5px 10px;
	margin-bottom: 5px;
	background-color: rgba(0,0,0,0.8);
	color:#fff;
	text-transform: uppercase;
	float: left;
	clear: both;
	letter-spacing: 1px;
}
.small-text{
	font-size: 14px;
	line-height: 14px;
	background-color: rgba(226,80,80,0.8);
	font-weight: 300;
}
.big-text{
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
}
.medium-text {
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
}
.home-slider .pc-prev,
.home-slider .pc-next,
.upcmng-evnt-slider .pc-prev,
.upcmng-evnt-slider .pc-next,
.pplr-slider .pc-prev,
.pplr-slider .pc-next,
.all-evnt-slider .pc-prev,
.all-evnt-slider .pc-next
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #fff;
	z-index: 1;
	color: #000;
	text-align: center;
	line-height: 40px;
	font-size:30px;
	cursor: pointer;
}
.home-slider .pc-prev {left: 10%;}
.home-slider .pc-next {right: 10%;}
.upcmng-evnt-slider .pc-next,
.pplr-slider .pc-next,
.all-evnt-slider .pc-next
{
	right: -10%;
}
.upcmng-evnt-slider .pc-prev,
.pplr-slider .pc-prev,
.all-evnt-slider .pc-prev
{
	left: -10%;
}
.pplr-slider .pc-prev,
.pplr-slider .pc-next {background-color: #333; color: #fff;}
/*[// slider css ]*/

/* [ Section banner ] */
.hm-section-container {
	width: 100%;
	float: left;
	padding: 100px 0;
	transition: all 400ms ease-in-out 0s;
}
.section-heading {
    width: 100%;
    text-align: center;
    float: left;
    margin-bottom: 60px;
}
.upcmng-evnt .section-heading h1 {color: #fff;}
.section-heading h1 {
    font-weight: 300;
    position: relative;
    display: inline;
    color: #000;	
}
.upcmng-evnt .section-heading h1:before, 
.upcmng-evnt .section-heading h1:after,
.all-evnt .section-heading h1:before, 
.all-evnt .section-heading h1:after
{
	background-color: #fff;
}
.section-heading h1:before, .section-heading h1:after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 1px;
    background-color: #000;
}
.red_font {color: #e25050;}
.section-heading h1:before {left: -270px;}
.section-heading h1:after {right: -270px; }
.amzing-fitr {
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
	/*padding: 0 10px;*/
}
.amzing-fitr .article-thumb-heading {
	font-weight: 300;
	color: #000;
	font-size:18px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 15px;
	float: left;
	letter-spacing: 1px;
	min-height: 50px;
}
.amzing-fitr .article-thumb-text {float: left;font-weight: 300;}
.amzing-fitr-icons {
	width: 75px;
	height: 75px;
	margin: 0 auto 30px;
	display: block;
	background-image: url(../img/all-icons.png);
}
.amzing-fitr-icons.conf {background-position: 0px 5px;}
.amzing-fitr-icons.evnt {background-position: -75px 5px;}
.amzing-fitr-icons.city {background-position: -152px 5px;}
.amzing-fitr-icons.year {background-position: -227px 5px;}

.hm-section-container.upcmng-evnt {
	height: auto;
	background-image: url(../img/evnt-bg.jpg);
	background-color: #202020;
	background-blend-mode: overlay;
	background-attachment: fixed;
	background-size: cover;
}
.evnt-block {
	width: 100%;
	position: relative;
	height: auto;
	background-color: #fff;
	border:1px solid #e6e6e6;
	float: left;
	padding: 15px 15px 15px 15px;
}
.evnt-block .article-thumb-img {
	width: 100%;
	float: left;
	height: 215px;
	margin-bottom: 15px;
	overflow: hidden;
}
.evnt-block .article-thumb-heading {
	font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    float: left;
    width: 100%;
    color: #000;
    margin-bottom: 10px;
    max-height: 55px;
    overflow: hidden;
}
.evnt-block .article-thumb-text {font-size: 13px; line-height: 16px;margin-bottom: 20px;}
.evnt-block .article-thumb-info {
	width: 100%;
	height: auto;
	float: left;
	position: inherit;
}
.evnt-block .article-thumb-info li {
	display: inline-block;
	float: left;
	width: 50%;
	color: #e25050;
	margin-bottom: 5px;
}
.evnt-block .article-thumb-info li:nth-child(3) {width: 100%;}
.info-icons {
	background-image: url(../img/all-icons.png););
	vertical-align: sub;
	display: inline-block;
	width: 22px; 
	height: 22px;
	margin-right: 5px;
}
.info-icons.calendar {background-position: -4px 35px;}
.info-icons.time {background-position: -34px 37px;}
.info-icons.map {background-position: -54px 35px;}
.evnt-slider {width: 100%; height: auto; float: left;}
.evnt-slide {width: 100%; min-height: 1px;}

.all-evnt {background-color: #e25050;}
.all-evnt .red_font {color: #fff;}
.read-more {
	float: left;
	display: block;
	font-size: 14px;
	line-height: 14px;
	font-style: italic;
	color: #e25050;
	font-weight: 400;
	border-bottom: 1px solid #e25050;
}
footer  {
	width: 100%;
	float: left;
	padding: 80px 0 0;
	background-color: #000;
}
.frt-section-cont {width: 100%; float: left;max-width: 470px;}
.ftr-sec-heading {
	font-size: 22px;
	color: #fff;
	font-weight: 300;
	float: left;
	width: 100%;
	margin-bottom: 30px;
	letter-spacing: 0.5px;
}
.ftr-abt-site {max-width: 365px; float: left;width: 100%;margin-bottom: 15px;line-height: 18px;}
.frt-section-cont ul  {width: 100%;float: left;}
.frt-section-cont ul li {font-size: 14px; line-height: 22px;margin-bottom: 10px;}
.frt-section-cont ul li i {font-size: 20px;width: 20px;margin-right: 5px;text-align: center;}
.frt-section-cont ul li i.fa-envelope-o {font-size: 15px;}
.frt-section-cont form {float: left;width: 100%;}
.form-input {
    width: 48%;
    float: left;
    border: 1px solid #7d7d7d;
    background-color: transparent;
    height: 36px;
    padding: 0 10px;
    margin:0 18px 18px 0;
}
.form-input:focus, .form-textarea:focus, .form-btn:focus {outline:none; }
.form-input:nth-child(2), .form-input:nth-child(4) {margin-right: 0;}
.form-textarea {width: 100%; background-color: transparent; margin:0 0 18px 0;padding: 10px;}
.form-btn {
	border:1px solid #7d7d7d;
	background-color: transparent;
	width: 210px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.form-btn:hover {background-color: #e25050;border-color: #e25050;color: #fff;font-weight: 500;}
.copyriht-container {
	float: left;
	width: 100%;
	height: 70px;
	line-height: 70px;
	border-top: 1px solid #7d7d7d;
	margin-top: 60px;
}
.pwrd-by {display: inline-block;}
.ftr-onspon-logo {
	width: 85px;
    height: 33px;
    display: inline-block;
    margin-left: 10px;
    background-image: url(../img/all-icons.png);
    vertical-align: middle;
    background-position: -86px -190px;
}















