@import "salman.css";
@import "slick.css";
@import "login.css";
@import "focuspoint.css";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900';
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	border: 0;
}
body {
	margin: 0;
	padding: 0;
	overflow: auto;
	/*font-family: Roboto, sans-serif;
	font-weight:600*/;
}
.item.has-video {
	height: 630px;
}
.video {
	position: absolute;
	left: 0;
	right: 0;
}
div#banner {
	position: relative;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}
.header {
	overflow: hidden;
}
.logo {
	padding: 25px;
}
.navigation {
	float: right;
}
.navigation .inline-nav {
	padding: 35px 25px 0 0;
	margin: 0;
	display: flex;
}
.navigation .inline-nav li a {
	color: #fff;
	text-decoration: none;
	padding: 12px;
	line-height: 30px;
}
.navigation .inline-nav li a.active, .navigation .inline-nav li a:hover {
	transition: ease 0.5s;
	background: #e73022;
}
.ion-close-round:before {
	content: "\f00d" !important;
	font-family: FontAwesome;
}
/*******navigation css***********/



.smobitrigger, .mnuclose {
	display: none;
}
.navigation nav ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.navigation nav ul li {
	display: inline-block;
}
.navigation nav ul li a {
	color: #fff;
	font-weight: 600;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 20px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.navigation nav ul li a:hover {
	background: rgb(234, 214, 54);
	color: #441B0A;
}
.smobitrigger, .mnuclose {
	display: inline-block;
	font-weight: normal;
}
.smobitrigger {
	color: #fff;
	font-size: 30px;
	padding: 0 !important;
	line-height: 12px;
}
.smobitrigger:hover {
	background-color: transparent !important;
}
.mnuclose {
	font-size: 20px;
	padding: 10px 20px;
	width: 100%;
	background: rgba(0, 0, 0, 0.18);
}
.smobitrigger span, .mnuclose span {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
.navigation nav ul {
	padding-bottom: 40px;
	overflow-y: auto;
	background-color: #e93f32 !important;
}
.navigation nav ul li, .navigation nav ul li a {
	width: 100%;
}
.navigation nav ul li a {
	padding-top: 5px;
	padding-bottom: 5px;
}
.navigation nav ul li a:hover {
	background: rgba(0, 0, 0, 0.29);
}
.navwrp ul li a {
	padding: 5px 10px !Important;
}
.mobimenu {
	list-style: none;
	padding: 20px;
	margin: 0px;
	width: 210px;
	position: fixed;
	height: 100%;
	top: 0px;
	right: -250px;
}
.mnuopn {
	right: 0px !important;
}
.ovrActv {
	position: fixed;
	background: rgba(0, 0, 0, 0.79);
	width: 100%;
	height: 100%;
	z-index: 9998;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
/*== crousel css ==*/

.banner {
	width: 100%;
	height: 632px;
}
.banner-caption {
	text-align: center;
	position: relative;
	top: 240px;
}
.banner-caption h1 {
	font-size: 45px;
	text-transform: capitalize;
	color: #fff;
	font-weight: 600;
}
.banner-caption h1 span {
	color: #e73022;
}
.banner-caption h3 {
	color: #fff;
	font-size: 32px;
	padding: 20px 0;
}
.banner-caption ul li button {
	width: 250px;
	height: 50px;
	color: #fff;
	background: transparent;
	outline: none;
	border: 1px solid #fff;
	font-size: 20px;
}
.banner-caption ul li button:hover, .banner-caption ul li button.active {
	background: #e73022;
	border-color: #e73022;
}
/************* banner-form css*************/
.banner-form {
	border-bottom: 0;
}
.banner-form li {
	width: 250px;
	text-align: center;
}
.banner-form li.pull-right {
	font-size: 29px;
	width: 341px;
	color: #fff;
	text-transform: uppercase;
}
.banner-form li.pull-right span {
	color: #e73022;
}
.banner-form li a {
	border: none !important;
	border-right: solid 1px #fff !important;
	background: #000;
	color: #fff;
	border-radius: 0;
	margin: 0;
}
.banner-form li.active a {
	background-color: #e73022;
	color: #fff;
}
.banner-form li.active a:hover, .banner-form li.active a:focus {
	background-color: #e73022;
	color: #fff;
	border-radius: 0;
}
.banner-form li a:last-child {
	border: 0 !important;
}
.banner-form li a:hover, .banner-form li a:focus {
	background-color: #e73022;
	border-radius: 0;
}
.datepicker {
	padding: 10px;
	top: 508px !important;
}
#avik form.form-inline input {
	height: 40px;
	outline: none;
	border-radius: 0;
	border: 0;
	display: inline-block;
}
#avik form.form-inline .input-group-addon {
	border-radius: 00;
	background: #fff;
	border: none;
	padding: 0 0 0 10px;
}
#avik {
	padding-bottom: 26px;
}
.search-panel .dropdown-toggle {
	margin: 0;
	padding: 9px;
	border-radius: 0;
	width: 200px;
	height: 40px;
	color: #948d8d !important;
	text-align: left;
	background: #fff !important;
	border: 0;
	border-left: solid 1px #bbb;
	border-right: solid 1px #bbb;
}
.search-panel .dropdown-toggle span.caret {
	float: right;
	margin-top: 8px;
}
.datepicker-dropdown.datepicker-orient-top:after {
	bottom: -6px !important;
	top: 100%;
}
.datepicker-dropdown:after {
	transform: rotate(180deg);
}
.datepicker-dropdown.datepicker-orient-top:before {
	border: 0 !important;
}
#search_concept img {
	right: 10px;
	top: 16px;
	position: absolute;
}
.search-last {
	margin-left: -3px;
	border-left: solid 1px #bbb;
}
.search-last input[type="text"] {
	padding-left: 10px;
	outline: none;
	width: 245px;
}
.search-last input[type="submit"] {
	background: #e73022;
	width: 130px;
	color: #fff;
}
input#date {
	width: 140px;
}
.border-right {
	border-right: solid 1px #bbb !important;
}
.search-panel ul.dropdown-menu {
	width: 100%;
	border-radius: 0;
	top: 37px;
	background: #fff;
}
/**************** banner end here ******************/

#wrapper {
	clear: both;
}
.platform {
	padding-top: 15px;
}
.heading {
	overflow: hidden;
	text-align: center;
}
.heading h1 {
	text-align: center;
	font-size: 33px;
	display: inline-block;
	position: relative;
	text-transform: capitalize;
	color: #0d130b;
}
.heading h1 span {
	color: #e73022;
}
.heading h1:before, .heading h1:after {
	background: #ddd;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 50% !important;
}
.heading h1:before {
	right: 105%;
}
.heading h1:after {
	left: 105%;
}
/*********progress bar ************/
.set-size {
	text-align: center;
	font-size: 10em;
	padding-top: 50px;
}
.charts-container:after {
	clear: both;
	content: "";
	display: table;
}
.pie-wrapper {
	height: 1em;
	width: 1em;
	display: inline-block;
	margin: 10px;
	padding: 6px;
	position: relative;
}
.pie-wrapper .pie {
	height: 100%;
	width: 100%;
	clip: rect(0, 1em, 1em, 0.5em);
	left: 0;
	position: absolute;
	top: 0;
}
.pie-wrapper .pie .half-circle {
	height: 100%;
	width: 100%;
	border: 0.1em solid #3498db;
	border-radius: 50%;
	clip: rect(0, 0.5em, 1em, 0);
	left: 0;
	position: absolute;
	top: 0;
}
.pie-wrapper .label {
	background: #34495e;
	border-radius: 50%;
	bottom: 0.4em;
	color: #ecf0f1;
	cursor: default;
	display: block;
	font-size: 0.25em;
	left: 0.4em;
	padding-top: 29px;
	font-size: 13% !Important;
	line-height: 2em;
	position: absolute;
	right: 0.4em;
	text-align: center;
	top: 0.4em;
}
.pie-wrapper .label .smaller {
	color: #bdc3c7;
	font-size: .45em;
	padding-bottom: 20px;
	vertical-align: super;
}
.pie-wrapper .shadow {
	height: 100%;
	width: 100%;
	border: 2px solid #bdc3c7;
	border-radius: 50%;
}
.pie-wrapper.style-2 .label {
	background: #eaeaea;
	color: #7f8c8d;
	margin: 12px;
}
.pie-wrapper.style-2 .label .smaller {
	color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .right-side {
	display: none;
}
.pie-wrapper.progress-30 .pie .half-circle {
	border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
	-webkit-transform: rotate(108deg);
	transform: rotate(108deg);
}
.pie-wrapper.progress-60 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-60 .pie .half-circle {
	border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
	-webkit-transform: rotate(216deg);
	transform: rotate(216deg);
}
.pie-wrapper.progress-90 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie .half-circle {
	border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
	-webkit-transform: rotate(324deg);
	transform: rotate(324deg);
}
.pie-wrapper.progress-45 .pie .right-side {
	display: none;
}
.pie-wrapper.progress-45 .pie .half-circle {
	border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
	-webkit-transform: rotate(162deg);
	transform: rotate(162deg);
}
.pie-wrapper.progress-75 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-75 .pie .half-circle {
	border-color: #2a2a2a;
}
.pie-wrapper.progress-75 .pie .left-side {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
.pie-wrapper.progress-95 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie .half-circle {
	border-color: #de171a;
}
.pie-wrapper.progress-95 .pie .left-side {
	-webkit-transform: rotate(342deg);
	transform: rotate(342deg);
}
.pie-wrapper--solid {
	border-radius: 50%;
	overflow: hidden;
}
.pie-wrapper--solid:before {
	border-radius: 0 100% 100% 0%;
	content: '';
	display: block;
	height: 100%;
	margin-left: 50%;
	-webkit-transform-origin: left;
	transform-origin: left;
}
.pie-wrapper--solid .label {
	background: transparent;
}
.pie-wrapper--solid.progress-65 {
	background: -webkit-linear-gradient(left, #e67e22 50%, #34495e 50%);
	background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
	background: #e67e22;
	-webkit-transform: rotate(126deg);
	transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
	background: -webkit-linear-gradient(left, #9b59b6 50%, #34495e 50%);
	background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
	background: #34495e;
	-webkit-transform: rotate(-270deg);
	transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
	background: -webkit-linear-gradient(left, #3498db 50%, #34495e 50%);
	background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
	background: #3498db;
	-webkit-transform: rotate(43.2deg);
	transform: rotate(43.2deg);
}
.sponsor {
	font-size: 16px;
	line-height: 32px;
	clear: both;
	text-align: center;
	color: #fff;
	transition: ease 0.5s;
	margin-top: 30px;
}
.sponsor a {
	text-decoration: none;
	color: #fff;
}
.sponsor.black {
	background: #2a2a2a;
}
.sponsor.red {
	background: #e73022;
}
.sponsor.black:hover {
	background: #e73022;
}
.sponsor.red:hover {
	background: #2a2a2a;
}
#event {
	background: #f5f5f5;
}
#event .heading {
	padding-top: 25px;
}
#event .heading h1:before, #event .heading h1:after {
	background: #ddd;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 300% !important;
}
/********** filter gallery ***************/


#info {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fcf8e3;
	border: 1px solid #fbeed5;
	width: 95%;
	max-width: 900px;
	margin: 0 auto 40px auto;
	font-family: arial;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#info .info-wrapper {
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#info a {
	color: #c09853;
	text-decoration: none;
}
#info p {
	margin: 5px 0 0 0;
}
.container {
	position: relative;
	margin: 0 auto;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#filters {
	margin: 1% auto;
	width: 75%;
	padding: 0;
	list-style: none;
}
#filters li {
	float: left;
}
#filters li span {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	margin: 0 10px;
	font-size: 18px;
	cursor: pointer;
}
#filters li span.active {
	color: #e95a44;
	border-bottom: solid 2px #e95a44;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	display: none;
	padding: 10px;
	float: left;
	overflow: hidden;
}
.width80 {
	width: 80% !important;
}
.width20 {
	width: 20% !important;
}
.width33 {
	width: 25% !important;
}
.portfolio-wrapper {
	overflow: hidden;
	position: relative !important;
	background: #666;
	cursor: pointer;
}
.portfolio img {
	max-width: 100%;
	position: relative;
	top: 0;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	bottom: 0;
	padding-top: 50%;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.portfolio .label-bg {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.portfolio .label-text {
	color: #fff;
	position: relative;
	z-index: 500;
	padding: 5px 8px;
}
.portfolio .text-category {
	display: block;
	font-size: 14px;
	font-weight: 500;
	margin-top: 6px;
}
.portfolio:hover .label {
	display: block
}
.portfolio:hover img {
	top: 0;
}

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		width: 768px;
	}
}

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.container {
		width: 95%;
	}
	#portfoliolist .portfolio {
		width: 48%;
		margin: 1%;
	}
	#ads {
		display: none;
	}
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 70%;
	}
	#ads {
		display: none;
	}
}
/* #Clearing */

/* Self Clearing Goodness */
.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row:after, .clearfix:after {
	clear: both;
}
.row, .clearfix {
	zoom: 1;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.width80 .portfolio-wrapper .label {
	padding-top: 11%;
}
.portfolio .label-text a.text-title {
	font-size: 17px;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
}
.width80 .portfolio-wrapper img {
	width: 100%;
	height: 246px;
}
.button {
	padding: 25px 0 40px 0;
	text-align: center;
	clear: both;
}
/*.button a{ line-height:45px; padding:15px 50px; transition: ease 0.5s; background:#e73022; color:#fff; text-decoration:none;}
.button a:hover{box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);}
*/
.button a {
	border: none;
	background: #e73022;
	color: #fff;
	text-decoration: none;
	padding: 15px 50px;
	font-size: 16px;
	position: relative;
	box-sizing: border-box;
	transition: all 0.5s ease;
}
.button a:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 49px;
	background: rgba(255,255,255,0.3);
	transition: all 1s ease;
}
.button a:hover:before {
	width: 100%;
}
#event-list {
	background: url(../images/event-list-banner.jpg) no-repeat 0 0;
	min-height: 400px;
}
#event-list .event-list {
	padding-top: 100px;
}
.event-list h1 {
	font-size: 51px;
	color: #fff;
	text-align: center;
}
.event-list p {
	text-align: center;
	font-size: 18px;
	color: #fff;
	padding: 25px 0;
	line-height: 24px;
	width: 60%;
	margin: auto;
}
.event-list form.form-inline {
	width: 70%;
	margin: auto;
}
.event-form input {
	height: 40px;
	outline: none;
	border-radius: 0;
	border: 0;
	display: inline-block;
}
.event-form input[type="submit"] {
	background: #e73022;
	width: 130px;
	color: #fff;
}
.event-list form.form-inline input {
	height: 40px;
	outline: none;
	border-radius: 0;
	border: 0;
	display: inline-block;
	margin-right: -3px;
}
#about-onspon {
	background: url(../images/about-onspon.jpg) no-repeat 0 0;
	min-height: 620px;
}
#about-onspon .heading {
	padding: 50px 0 30px 0;
}
#about-onspon .heading h1:before, #about-onspon .heading h1:after {
	background: #000;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 70%;
}
#onspon .item h3 {
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}
#onspon .item h3 span {
	color: #e73022;
}
#onspon ol.carousel-indicators {
	bottom: -50px;
}
#onspon ol.carousel-indicators li {
	background: #000;
	border: 0;
}
#onspon ol.carousel-indicators .active {
	background: #e73022;
	height: 12px;
	width: 12px;
}
.roshni {
	padding-top: 40px;
}
.roshni .title {
	font-size: 16px;
	font-weight: 600;
	padding-top: 15px;
}
.roshni .title span {
	display: block;
	font-weight: 500;
	font-size: 14px;
}
.roshni p {
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 8px;
}
/*** Timeline ***/

#timeline {
	width: 100%;
	padding-top: 30px;
	overflow: hidden;
	height: 600px;
}
#timeline ul {
	position: relative;
	list-style: none;
	float: left;
}
#timeline ul li {
	float: left;
	width: 100%;
	max-width: 440px;
	position: relative;
	text-align: center;
	margin: 0 0 80px 0;
}
#timeline ul li:nth-child(2), #timeline ul li:nth-child(4) {
	float: right;
}
#timeline ul li:nth-child(2) {
	margin-top: 120px;
}
#timeline ul li .timeline-heading {
	text-align: center;
	font-size: 22px;
	color: #e73022;
	margin-top: 10px;
}
#timeline ul li p {
	font-size: 15px;
	line-height: 26px;
	color: #fff;
}
#timeline ul:before {
	position: absolute;
	top: 0;
	left: 50%;
	content: '';
	width: 5px;
	height: 100%;
	background-color: #e73022;
}
#timeline ul:after {
	position: absolute;
	content: '\f078';
	font-family: 'FontAwesome';
	color: #e73022;
	font-size: 20px;
	text-align: center;
	bottom: 0;
	left: 50%;
	padding: 3px;
	transform: translateX(-50%);
	width: 20px;
	height: 20px;/*background-color: #fff;*/
}
#timeline ul li:before {
	width: 45px;
	height: 45px;
	background-color: #e73022;
	line-height: 45px;
	text-align: center;
	position: absolute;
	content: '';
	font-size: 22px;
	font-weight: 700;
	border: 2px solid #000;
	color: #fff;
	top: 0;
	border-radius: 100%;
	top: 50%;
	transform: translateY(-50%);
}
#timeline ul li:nth-child(1):before, #timeline ul li:nth-child(3):before {
	right: -170px;
}
#timeline ul li:nth-child(1):before {
	content: '1';
}
#timeline ul li:nth-child(2):before {
	content: '2';
}
#timeline ul li:nth-child(3):before {
	content: '3';
}
#timeline ul li:nth-child(4):before {
	content: '4';
}
#timeline ul li:nth-child(2):before, #timeline ul li:nth-child(4):before {
	left: -165px;
}
#timeline ul li:after {
	position: absolute;
	content: '';
	width: 100px;
	height: 3px;
	background-color: #e73022;
	top: 50%;
	transform: translateY(-50%);
}
#timeline ul li:nth-child(1):after, #timeline ul li:nth-child(3):after {
	right: -130px;
}
#timeline ul li:nth-child(2):after, #timeline ul li:nth-child(4):after {
	left: -130px;
}
#timeline ul li:nth-child(4) {
	margin-bottom: 0;
}
#how-work {
	background: url(../images/how-work.jpg) no-repeat 0 0;
	background-size: cover;
	height: 782px;
	padding: 60px 0;
	position: relative;
	overflow: hidden;
}
.timeline-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.80);
	z-index: 1;
	display: block;
}
#how-work .container {
	z-index: 1;
}
#how-work .heading h1 {
	color: #fff;
}
#how-work .heading h1:before, #how-work .heading h1:after {
	width: 150% !important;
}
.sponsors {
	width: 100%;
}
.sponsor-left, .sponsor-right {
	height: 560px;
	width: 50%;
	float: left;
	position: relative;
}
.sponsor-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}
.sponsor-left {
	background: #e73022;
}
.sponsor-list {
	list-style: none;
	padding: 70px 50px;
}
.sponsor-list li {
	float: left;
	width: 33%;
	height: 140px;
}
.sponsor-list li a img {
	transform: translateY(50%);
}
.sponsor-right {
	background: #000;
}
.sponsor-right .heading h1:before, .heading h1:after {
	background: #fff;
	width: 15% !important;
}
.sponsor-right .heading h1 {
	color: #fff
}
.sponsor-right .heading h1:before {
	right: 102%
}
.sponsor-right .heading h1:after {
	left: 102%
}
.sponsor-right .heading {
	padding: 60px 0 40px 0;
}
#myCarousel {
	width: 540px;
	margin: auto;
}
.hcl-title {
	font-size: 16px;
	font-weight: 600;
	padding-top: 15px;
}
.hcl-title span {
	display: block;
	font-weight: 500;
	font-size: 14px;
}
.gaurav p {
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 8px;
}
.gaurav {
	color: #fff;
}
#myCarousel ol.carousel-indicators {
	bottom: -50px;
}
#myCarousel ol.carousel-indicators li {
	background: #fff;
}
#myCarousel ol.carousel-indicators li.active {
	background: #e73022;
	border: 0;
}
.engage-with-us {
	padding-top: 55px;
}
.engage-with-us .heading h1:before, .engage-with-us .heading h1:after {
	background: #000;
	width: 100% !important;
}
ul.engage-logo {
	list-style: none;
	height: 320px;
}
ul.engage-logo li {
	width: 25%;
	height: 190px;
	line-height: 190px;
	float: left;
}
#engage {
	padding-top: 50px;
	margin-bottom: 70px;
}
#engage ol.carousel-indicators {
	bottom: -26px;
}
#engage ol.carousel-indicators li {
	border: 0;
	background: #000;
}
#engage ol.carousel-indicators li.active {
	background: #e73022;
	border: 0;
}
.newsletter {
	padding-top: 35px;
	background: #e73022;
	height: 108px;
}
.newsletter h3 {
	font-size: 33px;
	font-weight: 300;
	color: #fff;
}
.newsletter-right {
	width: 330px;
	float: right;
}
.newsletter-right .input-group input {
	height: 36px;
	border: 0;
	outline: none;
}
.newsletter-right .input-group input[type="text"] {
	width: 210px;
	background: #fff;
	color: #e73022;
	padding-left: 10px;
}
.newsletter-right .input-group input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
	color:    #e73022;
}
.newsletter-right .input-group input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #e73022;
	opacity:  1;
}
.newsletter-right .input-group input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #e73022;
	opacity:  1;
}
.newsletter-right .input-group input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #e73022;
}
.newsletter-right .input-group input[type="submit"] {
	width: 105px;
	color: #fff;
	background: #000;
}
.write-us {
}
.write-us .heading h1:before, .write-us .heading h1:after {
	width: 150% !important;
	background: #000;
}
.write-us .heading {
	padding-top: 45px;
	padding-bottom: 55px;
}
.contact-form p {
	font-size: 14px;
	color: #000;
	line-height: 24px;
}
.form input.name {
	height: 40px;
	border: solid 1px #000;
	width: 100%;
	padding-left: 15px;
	outline: none;
	margin-bottom: 20px;
}
.form {
	padding-top: 90px;
}
.form .textaria {
	border: solid 1px #000;
	width: 100%;
	padding-left: 15px;
	outline: none;
	margin-bottom: 20px;
}
.submit-button {
	border: none;
	background: #000;
	color: #fff;
	text-decoration: none;
	padding: 15px 50px;
	font-size: 16px;
	position: relative;
	box-sizing: border-box;
	transition: all 0.5s ease;
}
.map ul {
	list-style: none;
}
.map ul li {
	float: left;
}
.map ul li .map-title {
	text-transform: uppercase;
	font-size: 18px;
	color: #e73022;
	font-weight: 700;
}
.map ul li span {
	display: block;
	font-size: 13px;
	color: #000;
	font-weight: 500;
}
.map iframe {
	margin-top: 143px;
}
footer {
	background: #000;
	margin-top: 35px;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 35px;
}
.footer-one ul li {
	color: #727272;
	margin-bottom: 5px;
}
.footer-one ul {
	margin-top: 10px;
}
.footer-one ul li i {
	margin-right: 5px;
}
.link {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}
.link ul li a {
	font-size: 14px;
	color: #727272;
	line-height: 24px;
	text-decoration: none;
}
.link ul li a i, .link ul li a span.red {
	color: #e73022;
}
.copyright {
	height: 61px;
	background: #262626;
	color: #727272;
}
.copy-left {
	line-height: 61px;
	float: left;
	width: 80%;
}
.copy-left a {
	text-decoration: none;
	color: #727272;
}
.copy-right {
	float: right;
	padding-top: 22px;
}
.copy-right ul li a {
	color: #727272;
}
/***3oct***/




.copy-right ul li a:hover {
	color: #e73022;
}


/****firefox css****/

@-moz-document url-prefix() {
	.search-last input[type="text"] {
		width:70%;
	}
}
.event-sponsor {
	position: relative;
	float: right;
	top: -77px;
	font-weight: 300;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
}
.event-sponsor span {
	color: #e73022;
	font-weight: 400;
	font-size: 26px;
}

@media screen and (max-width: 1366px) {
	.banner-caption {
		text-align: center;
		position: relative;
		top: 100px;
	}
	.search-field {
		clear: both;
		display: block;
		top: 190px;
		position: relative;
	}
	.banner {
		width: 100%;
		height: 492px;
	}
	.search-panel .dropdown-toggle {
		width: 153px;
	}
	.search-last {
		float: right;
	}
}
#menu {
	position: relative;
	top: 0;
	bottom: 0;
	height: 100%;
	background: #e73022;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 99;
	width: 200px;
	right: -200px;
	height: 100%;
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;
}
#menu.active {
	-webkit-transform: translate(-200px, 0px);
	-moz-transform: translate(-200px, 0px);
	-o-transform: translate(-200px, 0px);
	-ms-transform: translate(-200px, 0px);
	transform: translate(-200px, 0px);
}
.menu-link {
	position: absolute;
	top: 39%;
	right: 45%;
}
.menu-link:active {
	position: absolute;
	top: 39.3%;
}
ul {
	list-style-type: none;
}
#menu ul a {
	color: #FFF;
	font-family: open sans;
	font-weight: 300;
	border-bottom: dashed 1px rgba(255,255,255,0.3);
	letter-spacing: 0.5px;
	line-height: 50px;
	height: 50px;
	outline: none;
}
#menu ul a:focus {
	text-decoration: none;
}
#menu ul li:first-child a {
	border-top: dashed 1px rgba(255,255,255,0.3);
}
#menu ul a.active, #menu ul li:first-child a.active {
	background: #000;
	font-weight: 500;
	border-color: #000;
}
#menu ul a:hover {
	background: #000;
}
.close-nav {
	text-align: center;
	padding: 5px;
	font-size: 2em;
	color: rgba(255, 255, 255, 0.61);
	border-bottom: 1px solid rgba(37, 37, 37, 0.27);
	cursor: pointer;
}
nav#menu ul {
	top: 80px;
	position: relative;
	margin: 0;
}
nav#menu ul li {
	float: left;
	width: 100%;
	margin: 0;
}
nav#menu ul li ul {
	position: relative;
	width: 100%;
	top: inherit;
	display: none;
}
#menu ul a span.pull-right.open {
	transform: rotateX(180deg);
}
#menu ul a span.pull-right {
	transition: 1s;
	font-size: 12px;
}
nav#menu ul li ul li a {
	line-height: 37px;
	height: 40px;
	display: block;
	background: #3b3939;
	border-bottom: dashed 1px rgba(255,255,255,0.2);
	font-size: 15px;
}
#avik form.form-inline {
	float: left;
	width: 100%;
	margin-top: 1px;
}
header.fix-head {
	position: fixed !important;
	background: #000 !important;
	max-height: 70px;
}
header.fix-head a.top-logo {
	width: 100px;
	background-size: 100%;
	margin: 6px 0 5px 20px;
}
header.fix-head ul {
	margin: 20px 20px 0 20px;
}
header.fix-head .hamburger-menu.toggle-x {
	margin: 27px 20px 0 0px;
	z-index: 9999;
}
#home-page {
}
.footer-one a img {
	width: 159px;
	padding-bottom: 10px;
}
div#onspon {
	width: 100%;
	float: left;
}
.abt-onspon-img {
	width: 154px;
	height: 59px;
	display: inline-block;
}
.roshni img {
	width: 154px;
	border-radius: 100%;
	height: 154px;
}
.top-menu-bar ul li.top-menu-seprate-btn a {
	border: solid 1px transparent;
}
.top-menu-bar ul li.top-menu-seprate-btn a:hover {
	background: transparent;
	border: solid 1px #fff;
}
ul.engage-logo li img {
	width: 200px;
	height: 130px;
}
.hamburger-menu.toggle-x.current:before {
	transform: rotate(45deg);
	top: 6.5px;
	z-index: 999;
}
.hamburger-menu.toggle-x.current:after {
	transform: rotate(-45deg);
	bottom: 6.5px;
	z-index: 999;
}
.hamburger-menu.toggle-x.current .arrows {
	display: none;
}
#menu.active:after {
	position: absolute;
	content: '';
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	right: 200px;
	z-index: -1;
}
/***28sept***/

section.home-banner {
	height: 725px !important;
}
section.home-banner .section-caption-cont {
	margin-top: 250px;
}
section.home-banner .searchfield {
	margin-top: 155px;
	width: 100%;
	float: left;
}
section.section-banner-cont.sec-bnr-300 {
	height: 300px;
}

section.sec-bnr-300 .section-caption-cont {
	z-index: 1;
	position: absolute;
	top: 140px;
	margin: 0;
}
section.section-banner-cont.section-banner.event-listing-banner .section-caption-cont {
	margin-top: 150px;
}
/***login data***/


.login-data-cont {
	width: 200px;
	position: absolute;
	top: 50px;
	left: 0;
	display: none;
	transform: translateX(-50%);
	background-color: #fff;
}
.login-data-cont:before {
	position: absolute;
	content: '';
	top: -10px;
	right: 10%;
	transform: translateX(-50%);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #fff;
}
.login-data-cont .login-list {
	margin: 0;
	float: left;
}
.login-data-cont .login-list li {
	float: none;
	width: 100%;
	margin: 0;
}
.login-data-cont .login-list li:last-child a {
	border: 0;
}
.login-data-cont .login-list li a {
	height: inherit;
	padding: 0;
	padding-left: 10px;
	color: #000;
	line-height: 35px;
	font-size: 14px;
	border-bottom: dashed 1px rgba(0,0,0,0.08);
}
.login-data-cont .login-list li a:hover {
	color: #e73022;
	border-bottom-color: #e73022;
}




/*** payment detail***/





.payment-detial-cont {
	width: 100%;
	float: left;
	min-height: 495px;
	background: #fff;
	margin-bottom: 100px;
}
.payment-table {
	float: left;
	background: #fff;
	width: 77%;
	padding-left: 30px;
}
.payment-comments {
	margin-left: 77%;
	background: #25242c;
	padding: 45px 20px 0 20px;
}
.payment-comments h4 {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}
.payment-table .table thead tr th {
	border-bottom: 0;
}
.payment-comments h4 ~ h4 {
	margin-top: 20px;
}
.payment-comments p {
	margin-top: 10px;
	color: #fff;
	line-height: 34px;
	font-size: 14px;
	text-align: center;
}
.payment-table .table tbody tr td:last-child {
	text-align: right;
}
.payment-table .table {
	margin: 54px 0;
	border-bottom: solid 1px #ddd;
}
.payment-table .table tbody tr {
	height: 60px;
}
.payment-table .table tbody tr td {
	line-height: 60px;
}
.payment-table .table tbody tr td .pay-up-btn {
	margin-right: 10px;
	width: 155px;
	height: 45px;
	background-color: #e73022;
	color: #fff;
	border: 0;
	border-radius: 5px;
	outline: none;
	line-height: 45px;
}
.payment-table .table tbody tr td.failed {
	color: #e73022;
}
.payment-table .table tbody tr td.done {
	color: #36bd7e;
}
.payment-table .table tbody tr td .pay-up-btn.success {
	background-color: #25242c;
}




/***terms***/




.terms{ width:100%; float:left; margin-bottom: 80px;}
p.para-25{ margin-bottom:25px; font-size:15px; line-height:25px;}
.terms .terms-alert{ font-size:14px; color:#e73022; line-height:22px; margin-bottom:40px;    border-left: solid 3px;	padding-left: 10px; font-weight: 500; margin-top: 35px;}

.terms-heading{ font-size:16px; font-weight:600; margin-bottom:25px;}
ul.terms-list-one{ list-style:none; margin-bottom:35px; max-width: 90%;}

ul.terms-list-one li {
	position: relative;
	margin-bottom:15px;
	font-size:14px;
	margin-left:50px;
	line-height: 25px;
}
ul.terms-list-one li:before {
	position: absolute;
	content: '';
	height: 10px;
	width: 10px;
	border: solid 2px #a29f9f;
	left: -20px;
	top: 4px;
	border-radius: 50%;
}
.terms p.para-35{ margin-bottom:35px; font-size:15px; line-height:25px; font-weight:500;}

.terms ol.ordered-list{ max-width: 90%;}


.terms ol.ordered-list li {
	margin-bottom:20px;
	font-size:14px;
	margin-left:50px;
	line-height: 25px;
}

.terms ol.ordered-list li ol{ margin-top:10px;}
.terms ol.ordered-list li ol li {
	margin-left: 30px;
}


.terms address {
	font-weight: 600;
	margin-left: 50px;
	font-size: 15px;
	line-height:25px;
	margin-bottom:20px;
}
.terms address a {
	color: #e73022;
}

/***clientele page***/

.clientele{ width:100%;float:left; margin-bottom:80px;}
.clientele ul{ list-style:none; text-align:center;}
.clientele ul li{ width:175px;height:175px; background-color:#fff; text-align:center;    border: solid 1px #ddd;
	border-radius: 3px;margin-right: 15px;
	margin-bottom: 15px; display:inline-block;
}

.clientele ul li img{ width:100%;}


/***change password***/

.login-input-con input.change-pass {
	width: 100%;
	height: 40px;
	padding-left: 10px;
	border: solid 1px #bbb;
	margin-bottom: 10px;
}

/****about us css****/

.about-us{ width:100%; float:left; margin-bottom:80px;}
.about-us  p{ font-size:18px; margin-bottom:25px; clear:both;}
.about-us  p.dropCap:first-letter {
	font-size: 76px;
	padding:0 15px;
	line-height:65px;
	font-weight:500;
	float:left;
	padding-bottom:13px;
	margin:-10px 20px 20px 0;	
	border-radius:3px;
	background-color: #e73022;
	color: #FFF;
}
.about-us  p.dropCap span{ color:#e73022; font-weight:600;}



/*** brand listing***/



.brnd-list-cont {
	width: 100%;
	float: left;
	margin-bottom: 60px;
}
.brnd-list-cont .listed-evnt-cont {
	height: 241px;
	margin-bottom: 30px;
}
.brnd-list-cont .listed-evnt-cont ul.article-thumb-info li{
	width: 100%;
}


.brnd-list-cont .listed-evnt-cont ul.article-thumb-info li i {
	font-size: 15px;
	margin-right: 9px;
}





/****contact us page css***/
.contct-us-cont {
	width: 100%;
	float: left;
	margin-top: 30px;
	margin-bottom: 50px;
}
.contct1-left {
}
.contct1-right {
	width: 100%;
	padding: 20px;
	height: 100px;
	background-color: #fff;
	border: solid 1px #e6e6e6;
}
.contct1-right .contact-icon {
	width: 80px;
	float: left;
}
.contct1-right .contct-numbr {
	width: auto;
	float: left;
	font-size: 16px;
	font-weight: 500;
}
.contct1-right .contct-numbr span {
	display: block;
	font-size: 29px;
}
.how-wehelp-u {
	background-color: #fff;
	padding: 0 25px 55px 25px;
	width: 100%;
	float: left;
}
.how-wehelp-u ul {
	width: 100%;
	float: left;
	margin-top: 55px;
}
.how-wehelp-u .contct-heading {
	text-align: center;
	font-size: 22px;
	color: #e73022;
	margin-top: 40px;
}
.how-wehelp-u ul li {
	width: 33.3333%;
	float: left;
	padding: 25px;
	min-height: 245px;
	height: auto;
}
.how-wehelp-u ul li .contct-connect {
	font-size: 14px;
}
.how-wehelp-u ul li p.para-25 {
	margin-bottom: 15px;
}
.how-wehelp-u ul li:nth-child(1), .how-wehelp-u ul li:nth-child(2), .how-wehelp-u ul li:nth-child(4), .how-wehelp-u ul li:nth-child(5) {
	border-right: 1px solid #ccc;
}
.how-wehelp-u ul li:nth-child(1), .how-wehelp-u ul li:nth-child(2), .how-wehelp-u ul li:nth-child(3) {
	border-bottom: 1px solid #ccc;
}
.contc-from {
	width: 100%;
	float: left;
	margin-top: 80px;
	margin-bottom: 70px;
}
.contc-from input, .contc-from textarea {
	outline-color: #e73022;
}
.contct-inpt {
	width: 100%;
	float: left;
}
.contct-inpt-lbl {
	display: block;
   font-size:14px;
   margin-left: 3px;
	text-align: left;
	margin-bottom: 5px;
	margin-top: 20px;
}
.contct-frm-input-txt {
	width: 100%;
	height: 50px;
	padding-left: 10px;
	border: solid 1px #e6e6e6;
}
.contct-inpt-email {
	width: 49%;
	float: left;
}
.contct-inpt-phone {
	width: 49%;
	float: right;
}
.contct-frm-input-txtaria {
	width: 100%;
	height: inherit;
	padding-top: 10px;
	padding-left: 10px;
	border: solid 1px #e6e6e6;
}
.contct-inpt.Capecha input.contct-frm-input-txt {
	width: 50%;
	float: left;
}
.capecha-img {
	width: 140px;
	height: 50px;
	padding: 10px;
	float: left;
	margin-left: 10px;
	background-color: #fff;
}
.contct-btn{
	margin-top: 25px;
	width: 170px;
	height: 50px;
	background-color: #e73022;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	outline: none;
	border: solid 1px transparent; 
	transition: all 0.3s;
}

.contct-btn:hover{
	border-color: red;
	background: none;
	color: red;
}
.contct-right-social{ 
	width: 100%;
   float:left;
   padding-left: 50px;
}
.contct-right-social p.para-25 {
    margin-bottom: 10px;
}
.contct-right-social h3{
	font-size: 22px;
	color: #e73022;
	text-align: left;
	margin-bottom: 20px;

}

ul.contct-social {
    width: 100%;
    float: left;
}
ul.contct-social li {
    float: left;
}
ul.contct-social li a i.fa{
    height: 35px;
    width: 35px;
    display: block;
    background-color: #a4a4a5;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    transition: all 0.3s;
    color: #fff;
    font-size: 18px;
}
ul.contct-social li a i.fa.fa-facebook:hover{ background-color: #3b5998; border-radius: 3px;}
ul.contct-social li a i.fa.fa-twitter:hover{ background-color: #1da1f2; border-radius: 3px;}
ul.contct-social li a i.fa.fa-linkedin:hover{ background-color: #0077b5; border-radius: 3px;}
ul.contct-social li a i.fa.fa-youtube:hover{ background-color: #c3181e; border-radius: 3px;}
.contct-likes{ width: 295px; height: 215px; float: left; margin-top: 60px;}


/******how it work*******/

.how-work-cont{
	background:none !important; 
	padding-top: 30px !important;
	height: inherit !important;
   padding-bottom: 80px !important;
}
.how-work-btn{ width: 100%; float: left;}
.how-work-btn div{
    width: 435px;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    margin: auto; 
    padding: 15px 35px; 
    background-color: #fff; 
    border: solid 1px #e6e6e6;}

.how-work-cont div#timeline {
    height: 660px;
    margin-top: 50px;
    margin-bottom: 40px;
    float: left;
}
.how-work-cont div#timeline ul:before {
    height: 99%;
}
.how-work-cont div#timeline ul:after {
    bottom: 8px;
}
.how-work-cont #timeline ul li:before {
    border-color: #fff;
}
.how-work-cont #timeline ul li p {
    color: #000;
    max-width: 90%;
    margin: auto;
    margin-top: 5px;
}



.timeline-icon {
	width: 60px;
	height: 65px;
	background: url(../image/timeline-sprite-grey.png) no-repeat;
	margin: auto;
}
.timeline-fisrt {
	background-position: -20px -18px;
}
.timeline-second {
	background-position: -129px -18px;
}
.timeline-third {
	background-position: -20px -114px;
}
.timeline-fourth {
	background-position: -128px -111px;
}




/* Accordian */

.accordion {margin: 0 auto; list-style: none outside;}
.accordion-item-hd {
  display: block;
  padding: 20px 30px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border:1px solid #e1e1e5;
  margin-top:10px;
  font-weight:300;
  color: #6b6b6b;
}
.accordion-item-input:checked ~ .accordion-item-hd {color: #e73022; }
.accordion-item-input:checked ~ .accordion-item-bd {
  max-height: 1000px;
  padding: 30px 15px 0;
  margin-bottom: 15px;
  border:1px solid #e1e1e5;
  border-top: 0;
  -webkit-transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
  transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
}
.accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta:before,
.accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta:after {background-color: #e73022;}
.accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta:after {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.accordion-item-hd-cta {
  display: block;
  width: 13px;
  height: 13px;
  line-height: 13px;
  margin-top: 7px;
  position: relative;
  float: right;
  pointer-events: none;
}
.accordion-item-hd-cta:before,
.accordion-item-hd-cta:after {
	position: absolute;
	content: '';
	background-color: #6b6b6b;
	top: 45%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 1px;
	transition: all 0.3s ease-in-out 0s;
}
.accordion-item-hd-cta:after {transform: rotate(90deg);}
.accordion-item-bd {
  max-height: 0;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
  transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
}
.accordion-item-input {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1;
  overflow: hidden;
  position: absolute;
  left: -9999px;
}

/* // Accordian */

.faqs-tb-cont{
	width: 100%;
	float: left; 
	margin-bottom: 80px;
}
.faqs-tb-cont ul.nav.nav-tabs.test2 {
    border: 0;
}
.faqs-tb-cont ul.nav.nav-tabs.test2 li {
    background: transparent;
}
.faqs-tb-cont ul.nav.nav-tabs.test2 li a {
    color: #000;
    text-align: center;
    font-size: 18px;
    background: none;
    border: 0;
    padding: 10px 30px;;
    border-radius: 0;
}

.faqs-tb-cont ul.nav.nav-tabs.test2 li.active a {
    background: #e63100;
    color: #fff;
}

.faqs-tb-cont .tab-content {
    background-color: #fff;
    padding: 40px 25px 25px;
}
.faqs-tb-cont .tab-content .tab-pane h5 {
    color: #e63100;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
}


.acordian ul.accordion.css-accordion li.accordion-item {
    background: #f0f0f0;
}
.acordian ul.accordion.css-accordion li.accordion-item label{
    font-weight: 500;
}
.acordian ul.accordion.css-accordion li.accordion-item span:before ,.acordian ul.accordion.css-accordion li.accordion-item span:after {
	background-color: #e63100;
}
.acordian ul.accordion.css-accordion li.accordion-item .accordion-item-input:checked ~ .accordion-item-bd {
    padding: 20px 15px;
}








