

.header_bg > header {
	background-color: rgba(0,0,0,0.80);
}

.login-box-container {
	float: left;
	width: 100%;
	height: auto;
	margin-top: 130px;
	/*background-color: red;*/
	position: relative;
}
.login-main-container {
	max-width: 800px;
	min-height: 435px;
	height: 560px;
	margin: 0 auto;
	position: relative;
	/*background: rgba(0,0,0,0.5);*/
}
.login-text-area {
	width: 100%;
	height: 330px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	background-color: #fff;
	border-radius: 4px;
	border:1px solid #e6e6e6;
	padding: 30px;
	z-index: 0;
}

.login-onspon-logo{  
	background-image:url(../image/logo.png);
	background-repeat: no-repeat; 
	height:59px; 
	width:174px;  
	margin:30px 0 30px 100px; 
	display: block;
}
.login-text {
	max-width: 358px; 
	line-height: 26px; 
	color:#838383; 
	font-size: 14px; 
	font-weight: 300; 
}
.login-form-container {
	min-height: 435px;
	height: auto;
	width: 360px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
	z-index: 1;
	border-radius: 4px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2)
}
.login-heading-text {
	text-transform: uppercase;   
	font-size:18px;    
	border-bottom: #e6e6e6;    
	padding-bottom: 15px;
    border-bottom:1px dashed rgba(0,0,0,0.4);
	margin:0 0 15px 0;     
	letter-spacing: 2px; 
	color:#838383;
}
.who_r_u {
	font-size: 14px;
	color: #6b6b6b;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.user-icon {
	width: 22px;
	height: 26px;
	background-position: -7px -3px;
	margin-right:5px;
	vertical-align: -3px;
}
.login-icons {
	background-image: url(../image/login-icons.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: baseline;
}
.login-form-container select,
.login-with-email {
	width: 100%;
	height: 41px;
	border:1px solid #e2e0e0;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	transition: all 0.3s ease-in-out 0s;

}
.login-form-container select {
	margin-bottom: 20px;
}
.login-form-container select option {
	/*padding: 20px;*/
	height: 30px;
	width: 100%;
}
.login-with-email {
	background-color: #fff;
	text-align:center;
	padding: 3px 15px;
	line-height: 33px;
	color: #6b6b6b;
	display: block;
}
.envelope {
    width: 40px;
    height: 25px;
    background-position: -52px -36px;
    float: left;
    margin-top: 4px;
	transition: all 0.3s ease-in-out 0s;
}
.login-with-email:hover {
	background-color: #e73022;
	border-color: #e73022;
	color: #fff;
	text-decoration: none;
}
.login-with-email:hover .envelope {
	background-position: -52px -68px;
}

.alert-msg {
	float: left;
	width: 100%;
	font-style: italic;
	font-size: 11px;
	color: #e73022;
	text-align: center;
}
.alert-msg2 {
	margin-bottom: 15px;
}
.login-or-sm.normal-login {
	margin-top: 45px;
}
.login-or-sm.loginWithEmail {
	margin-top: 25px;
}
.login-or-sm {
	float: left;
	width: 100%;
	/*background-color: #ccc;*/
	height: 125px;
	text-align: center;
	color: #6b6b6b;
}
.login-or {
	display: block;
	width: 100%;
	max-width: 245px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	height: 13px;
	margin-bottom: 30px;
}
.login-or:before {
	position: absolute;
	content: '';
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #e6e6e6;
}
.login-or p {
	background-color: #fff;
	display: inline-block;
	padding: 0 10px;
	position: absolute;
	top: 0;
	left: 50%;
	height: 13px;
	line-height: 13px;
	transform: translateX(-50%);
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
}
.login-with {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.login-sm {
	float: left;
	width: 100%;
	height: 41px;
	/*background-color: red;*/
}
.login-sm-icons {
	float: left;
	display: inline-block;
	width: 151px;
	height: 42px;
	margin-right: 18px;
	background-image: url(../image/login-icons.png);
}
.login-sm-icons:last-child {margin-right: 0;}
.login-sm-icons.facebook{background-position: -8px -106px;}
.login-sm-icons.google-plus{background-position: -8px -150px;}
.login-input-cont {
	width: 100%;
	float: left;
	border:1px solid #e2e0e0;
	padding: 0 ;
	height: 41px;
	margin-bottom: 0px;
	position: relative;
}
.input-icons {
	width: 40px;
	height: 30px;
	background-image: url(../image/login-icons.png););
	position: absolute;
	top: 5px;
	left: 13px;
}
.email .input-icons {background-position: -52px -33px;}
.password .input-icons {background-position: -97px -33px;}
.user .input-icons {background-position: -5px -33px;}
.phone .input-icons {background-position: -146px -33px;}
.login-input {
	width: 100%;
	height: 100%;
	border:0;
	transition: all 0.5s ease-in-out 0s;
	padding:0 15px 0 70px;
}
.login-input:focus {
	outline: none;
}
.login-input-cont.email {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	/*border-bottom: 0;*/
}
.login-input-cont.user,
.login-input-cont.password.password2,
.login-input-cont.phone {
	border-top: 0;
}
.login-input-cont.phone,
.login-input-cont.password {
	border-top: 0;	
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.login-submit-btn {
	width: 155px;
	height: 41px;
	border:1px solid #e2e0e0;
	border-radius: 3px;
	color: #6b6b6b;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #fff;
	float: left;
	margin-top: 15px;
	transition: all 0.3s ease-in-out 0s;
}
.login-submit-btn:hover {
	background-color: #e73022;
	border-color: #e73022;
	color: #fff;
}
.forgot-ps {
	float: right;
	font-style: italic;
	font-size: 11px;
	color: #e73022;
	margin-top: 40px;
}
.forgot-ps:hover {color: #e73022;}
.back-arrow {
	display: block;
	width: 30px;
	height: 20px;
	float: left;
	background-image: url(../image/login-icons.png);
	background-position: -49px -13px;
	margin-right: 15px;
	margin-top: 3px;
	transition: all 0.3s ease-in-out 0s;
}
.back-arrow:hover {
	/*background-color: red;*/
	background-position: -76px -13px;
}
.register-btn {
	margin: 20px auto 0;
}
.login-register-btn {
    position: absolute;
    top: -30px;
    left: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 14px;
    color: #6b6b6b;
    padding: 7px 15px 3px;
	transition: all 0.3s ease-in-out 0s;

}
.login-register-btn:hover {
	color: #fff;
	text-decoration: none;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #e73022;
}









/*.login-box-container {
width:100%;
height:100%;
z-index:11;
position:fixed;
top:0;
left:0;
background-color:#e73022;
}
.login-text-area{ max-width:823px;  max-height: 327px; background-image:url(../images/patern.png); position:relative; box-shadow: 0 0 10px rgba(0,0,0,0.5);
background-repeat:repeat; margin:auto;padding: 45px;  border-radius: 2px;}
.login-onspon-logo{ background-image:url(../images/logo-2.png); height:59px; width:174px;  
background-repeat: no-repeat; margin-left: 11%;
margin-bottom: 3%; margin-top: 3%;}
.login-text{max-width: 358px; line-height: 26px; color:#838383; font-family: roboto; font-size: 14px; font-weight: 300; }
.login-main-cont{  position: relative; top: 170px; }
.login-form-container{    background: #ffffff;     box-shadow: 0 0 10px rgba(0,0,0,0.5);   padding: 20px;
width: 360px;
border-radius: 2px;
min-height: 451px;
position: absolute;
top: 50%;
right: 30px;
transform: translateY(-50%);}
.heading-text{ text-transform: uppercase;   font-size:18px;    border-bottom: #e6e6e6;    padding-bottom: 15px;
border-style: double;     margin-top: 10px;     letter-spacing: 2px; color:#838383;}

.crose{ width:20px; height:20px; position:relative;     float: right;}
.crose:before{ width:20px; height:2px; background:white; position:absolute; top:9px; right:0; content:""; transform:rotate(45deg);}
.crose:after{ width:20px; height:2px; background:white; position:absolute; bottom: 9px; right:0; content:""; transform:rotate(-45deg);}
.user-icon{ background-image:url(../image/login-icons.png); height:25px; width:22px;     background-position: 153px 367px;
float: left;     margin-top: 15px;}
.questn{ float:left;    padding: 20px 10px;  color: gray;  font-size: 14px;
font-weight: 100}
select {
width: 100%;
padding: 12px;
border: none;
border-radius: 2px;
border:1px solid #c9c9c9;
outline:none; color:#c9c9c9;
margin-top: -13px;
color: gray;

}
.btn{ border-radius: 2px !important;}
.btn-info{    padding: 10px;
width: 100%;
margin-top: 11px; background:none; border-color:#c9c9c9; color:#8a8888;
padding-top: 10px;
}
.glyphicon{    right: 58px;
top: 3px;
}
#country{
padding-right	: 10px;
}
.login-button-popup-text{
font-size: 11px;
text-align: center;
color: red;
margin-top: 10px;
font-style: italic;

}
.or-line {
width: 70%;
text-align: center;
border-bottom: 1px solid #e2e2e2;
line-height: 0.1em;
margin: 72px 0 20px;
margin-left: 43px;
color: gray;
}

.or-line span { 
background:#fff; 
padding:0 12px; 
margin-left: 10px;
border-right:1px solid #e2e2e2; 
border-left:1px solid #e2e2e2;}

.login-with-text{
text-align: center;
margin-top: 30px;
color: gray;
font-size: 15px;
}

.facbook-image
{
width: 154px;
height: 46px;
background: url(../image/login-icons.png) 0 0;
background-position: 0px -31px;
margin-top: 18px;
display: inline-block;
}
.google-image{

width: 154px;
height: 46px;
background: url(../image/login-icons.png);
background-position: 0px -75px;
margin-top: 18px;
margin-left: 8PX;
display: inline-block;
}

.button-login-email{
width: 100%;
padding: 23px;
height: 40px;
background-color: white;
border-radius: 1px;
border: 1px solid #c9c9c9;;
}
.login-text-button{
padding-left: 60px;
margin-top: -11px;
margin-right: 50px;
color: gray;
}
.icon-button{

background-color: white;
width: 33px;
height: 30px;
margin-top: -25px;
margin-left: -18px;
border-right: 1px solid #c9c9c9;;
}
.glyphicon-envelope{
color: gray;
font-size: 20px;
margin-top: 5px;
margin-left: -2px;
font-weight: lighter;
}