/* common css */
* {box-sizing: border-box;}
.red_font {color: #e73022;}
a {text-decoration: none;cursor: pointer;}
a:hover {text-decoration: none;}
.red_bg {background-color: #e73022;}
.font_wieght700 {font-weight: 700;}
.font_wieght500 {font-weight: 500;}
.left {float: left;}
.right {float: right;}
/*animation*/
.curated-slider .pc-prev,
.curated-slider .pc-next,
.lstd-evnt-slider .pc-prev,
.lstd-evnt-slider .pc-next,
.top-menu-bar ul li a, 
.listing-card-cont, 
.load-button, 
.load-btn-icons, 
.section-buttons li a, 
.article-thumb-details li a, 
.event-views, 
.shortlist-details li a,
.evnt-edt-rmv-cont ul li a,
.listed-evnt-cont,
.evnt-edt-rmv-cont,
.edt-rmv-tooltip,
.event-img, 
.upgrade-nw-btn,
.upgrade-nw-icon,
.view-icon-OnHover, 
.filter-buttons-cont ul li, 
.filter-icon, 
.view-icon-OnHover:before 
{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
footer, .copyright {
	float: left;
	width: 100%;
	margin-top: 0 !important;
}

.section-img img {
	width: 100%;
	height: auto;
}
/* -[ Header css ]- */

header {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.top-logo {
	float: left;
	width: 155px;
	height: 60px;
	margin: 20px 20px 0 20px;
	background-image: url(../images/logo.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.top-menu-bar {
	float: right;
}
.top-menu-bar ul {
	list-style: none;
	float: right;
	margin: 33px 20px 0 20px;
}
.top-menu-bar ul li {
	display: inline-block;
	float: right;
	margin-right: 5px;
	position: relative;
}
.top-menu-bar ul li a {
	height: 32px;
	display: block;
	padding: 0 20px;
	color: #fff;
	font-size: 16px;
	line-height: 32px;
}
.top-menu-bar ul li:hover a {
	text-decoration: none;
	color: #e73022;
}
.top-menu-bar ul li.top-menu-seprate-btn a {
	background-color: #e73022;
	border-radius: 2px;
}
.top-menu-bar ul li.top-menu-seprate-btn:hover a {
	color: #fff;
}
.menu-icon {
	display: inline-block;
	background-image: url(../image/top-menu-icons.png);
	margin-right: 5px;
	vertical-align: baseline;
	background-repeat: no-repeat;
}
.menu-icon.user {
	width: 13px;
	height: 13px;
	background-position: -13px -3px;
}
.menu-icon.phone {
	width: 8px;
	height: 16px;
	background-position: 0px 0px;
}
.hamburger-menu {
	width: 30px;
	height: 16px;
	float: right;
	margin: 40px 20px 0 0px;
	position: relative;
	cursor: pointer;
	z-index: 99999;
}
.hamburger-menu:before,  .hamburger-menu:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	background-color: #fff;
}
.hamburger-menu:before {
	top: 0px;
}
.hamburger-menu:after {
	bottom: 0px;
}
.hamburger-menu .arrows {
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #fff;
}
header.sticky {
	position: fixed;
	background-color: #000;
}
.bell-icon {
	width: 26px;
	height: 30px;
	display: inline-block;
	background-image: url(../image/bell-icon.png);
	background-repeat: no-repeat;
}
.notification-counter {
	background-color: #e73022;
    padding: 1px 7px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
    position: absolute;
    top: 0;
    right: -2px;
    height: 19px;
    cursor: pointer;
    line-height: 19px;
}
.top-menu-bar ul li.notification-cont {margin-right: 30px; }
.notification-cont:hover .notification-counter {color: #fff; }
/*.notification-cont .notification-toggle-cont a {color: #000; }*/
.notification-toggle-cont {
	width: 300px;
	height: 385px;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
}
.notification-toggle-cont:before {
	position: absolute;
	content: '';
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #fff;
}
.notifi-sub-cont {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}
.top-menu-bar ul li.notification-cont .ntfction-anchor-cont {
	display: block;
	width: 100%;
	float: left;
	height: 90px;
	border-bottom: 1px solid #e6e6e6;
	padding:15px;
}
.ntfction-anchor-cont .article-thumb-img {
	width: 70px;
	height: 60px;
	float: left;
	margin-right: 10px;
	border:1px solid #f2f2f2;
}
.ntfction-anchor-cont .article-thumb-text-container {
	width: 70.3%;
	float: left;
	max-height: 60px;
	position: relative;
	transition: all 0.3s ease-in-out 0s;
}
.ntfction-anchor-cont:hover {background-color: #f5f5f5;}
.ntfction-anchor-cont.read:hover {background-color: #c8c8c8;}
.ntfction-anchor-cont .article-thumb-heading {font-size: 13px;color: #949494;}
.ntfction-anchor-cont.read .article-thumb-heading {font-weight: 700;color: #000;}
.notifi-evnt-time {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 11px;
	line-height: 11px;
	color: #949494;
}
.ntfction-anchor-cont.read .notifi-evnt-time {color: #545454;}
.notifi-evnt-time i {font-size: 14px;}
.notification-toggle-cont .ntfction-see-all {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height:36px;
	line-height: 36px;
	border-top: 1px solid #e6e6e6;
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	color: #949494;
}
.notification-cont:hover .ntfction-see-all {color: #949494; }
.notification-toggle-cont .ntfction-see-all:hover {color: red;font-weight: 500;}


/* -[ End / Header css ]- */

/* -[ section-banner css ]- */
section.section-banner-cont {
	width: 100%;
	height: 670px;
	float: left;
	background: #ccc;
	position: relative;
	overflow: hidden;
}
.section-banner-cont.sec-bnr-300{height: 300px;}
.section-img {
	width: 100%;
	height: 100%;
	background: red;
	position: absolute;
	top: 0;
	left: 0;
}
.section-img:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}
.section-caption-cont {
	width: 100%;
	text-align: center;
	height: auto;
	position: relative;
	text-align: center;
}
.section-banner .section-caption-cont {
	margin-top: 260px;
}
.section-lead-text {
	font-weight: 600px;
	color: #fff;
	font-size: 45px;
	line-height: 45px;
	letter-spacing: normal;
	margin-bottom: 15px;
}
.section-sub-lead-text {
	color: #fff;
	font-weight: 300;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 35px;
}
.section-buttons {
	list-style: none;
}
.section-buttons li {
	display: inline-block;
}
.section-buttons li a {
	display: block;
	padding: 0 40px;
	line-height: 50px;
	height: 50px;
	margin-right: 30px;
	border: 1px solid #fff;
	color: #fff;
	min-width: 230px;
}
.section-buttons li a i { font-size: 20px; vertical-align: baseline;margin-right: 5px; }
.section-buttons li:last-child a {margin-right: 0;}
.section-buttons li a:hover {
	text-decoration: none;
}
.section-buttons li a.active,  .section-buttons li:hover a {
	background-color: #e73022;
	border-color: #e73022;
}
/* -[ End / section-banner css ]- */
.section-text-cont {
	width: 100%;
	float: left;
	height: auto;
	position: relative;
	padding: 80px 0 0px;
	background-color: red;
	background-image: url(../image/bg-pattern.png);
	background-repeat: repeat;
	background-position: top left;
}
.section-heading {
	width: 100%;
	text-align: center;
	float: left;
	margin-bottom: 60px;
}
.section-heading h1 {
	font-weight: 300;
	position: relative;
	display: inline;
}
.section-heading h1:before,  .section-heading h1:after {
	position: absolute;
	content: '';
	top: 50%;
	transform: translateY(-50%);
	width: 250px;
	height: 1.5px;
	background-color: #000;
}
.section-heading h1:before {left: -270px;}
.section-heading h1:after {right: -270px;}
.explore-events-cont {
	position: relative;
	width: 100%;
	float: left;
	position: absolute;
	bottom: 0;
	padding-top: 26px;
	left: 0;
	height: 135px;
}
.explore-events-cont p {
	text-align: center;
	max-width: 850px;
	font-size: 24px;
	line-height: 36px;
	color: #fff;
	margin: 0 auto;
}
.explore-events-cont.evnt-dashboard p {max-width: 961px;}
.explore-events-cont span, .explore-events-cont a {display: inline-block;}
.three100, .onspon_com {font-size: 30px; margin: 0 3px; }
.three100 {font-size: 30px; }
.exp-evt-link {
	color: #fff;
	margin: 0 3px;
	display: inline-block;
	border-bottom: 2px solid #fff;
}
.exp-evt-link:hover {text-decoration: none; color: #fff; border-color: #000;}
/* [ Listing page ] */
.listing-card-cont {
	width: 100%;
	height: 210px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	padding: 20px;
	position: relative;
	margin-bottom: 30px;
}
.listing-card-cont:hover {box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.article-thumb-img {
	width: 225px;
	height: 170px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
	background: url(../images/logo.png) , radial-gradient(ellipse at center, rgba(248,80,50,1) 0%, rgba(0,0,0,1) 100%);
	background-repeat: no-repeat;
    background-position: center center;
    background-size: auto auto;
}
.article-thumb-text-container {
	width: 54%;
	height: 170px;
	float: left;
	position: relative;
}
.article-thumb-heading {
	font-weight: 400;
	max-height: 55px;
	height: 55px;
	float: left;
}
.article-thumb-info {width: 100%; float: left; list-style: none;}
.article-thumb-info li {
	display: inline-block;
	float: left;
	width: auto;
	margin-bottom: 12px;
	font-size: 15px;
	line-height: 20px;
	color: #6b6b6b;
}
.listing-icon {
	vertical-align: top;
	background-color: #fff;
	display: inline-block;
	margin-right: 8px;
	float: left;
	margin-bottom: 2px;
	background-image: url(../image/listing-icons.png);
	background-repeat: no-repeat;
}
.listing-icon.calender {width: 21px; height: 25px; background-position: -2px -2.5px;}
.listing-icon.like {width: 18px; height: 25px; background-position: -51px -2.5px;}
.listing-icon.view {width: 20px; height: 19px; background-position: -74px -5px;}
.listing-icon.placeholder {width: 18px; height: 22px; background-position: -28px -2.5px;}
.article-thumb-details {
	list-style: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.article-thumb-details li {
	display: inline-block;
	float: left;
	width: 33.333333%;
}
.article-thumb-details li a {
	display: block;
	text-align: center;
	font-size: 13px;
	padding: 5px 0;
	color: #6b6b6b;
}
.article-thumb-details li:hover a {
	text-decoration: none;
	background-color: #e73022;
	color: #fff;
}
.premium .premium-tag {display: block; }
.premium-tag {
	display: none;
	position: absolute;
	top: 10px;
	left: -15px;
	width: 130px;
	height: 35px;
	line-height: 35px;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 3.5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	padding-left: 15px;
	color: #fff;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: #e73022;
	text-transform: uppercase;
}
.premium-tag:after {
	position: absolute;
	content: '';
	bottom: -8px;
	left: 0;
	border-bottom: 8px solid transparent;
	border-right: 15px solid #b6b6b6;
}
/* [ End / Listing page ] */
.shorlist-data-cont,  .contact-data-cont {
	width: 245px;
	height: auto;
	border: 1px solid red;
	position: absolute;
	bottom: 45px;
	background-color: #fff;
	left: 50%;
	transform: translateX(-50%);
	padding: 15px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.shorlist-data-cont:before,  .contact-data-cont:before {
	background-color: #fff;
	border-bottom: 1px solid #e73022;
	border-right: 1px solid #e73022;
	bottom: -9px;
	content: "";
	height: 16px;
	left: 46%;
	position: absolute;
	transform: rotate(45deg);
	width: 16px;
}
.contact-data-cont {
	width: 260px;
	left: 50px;
}
.close-popup {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	border: 1px solid #e73022;
	top: -12px;
	right: -12px;
	position: absolute;
	background-color: #fff;
}
.close-popup:before,  .close-popup:after {
	position: absolute;
	content: '';
	top: 11px;
	left: 4px;
	width: 15px;
	height: 1px;
	background-color: #e73022;
}
.close-shortlist:before {transform: rotate(45deg); }
.close-shortlist:after {transform: rotate(-45deg);}
.shorlist-heading {
	width: 100%;
	float: left;
	border-bottom: 1px dashed #949494;
	padding-bottom: 10px;
}
.shorlist-heading h4,  .shorlist-heading h3 {
	font-size: 15px;
	line-height: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}
.shorlist-heading h3 {
	font-weight: 300;
	font-size: 17px;
	line-height: 17px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #545454;
}
.event-nm {
	float: left;
	width: 100%;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	margin-bottom: 5px;
}
.evnt-date-n-place {
	display: block;
	width: 100%;
	float: left;
	font-size: 12px;
	color: #949494;
}
.contact-nw-form {
	margin-top: 20px;
	float: left;
	width: 100%;
}
textarea.input-create-fld {height: auto;}
.shorlist-heading p,  .create-folder p {
	clear: both;
	font-size: 13px;
	line-height: 18px;
	color: #949494;
}
.create-folder p {margin-bottom: 5px;}
.create-folder {width: 100%; float: left; margin-top: 15px;}
.input-create-fld {
	border: 1px solid #e6e6e6;
	width: 100%;
	height: 35px;
	padding: 0 10px;
	color: #949494;
	margin-bottom: 5px;
}
.input-create-fld:focus {outline-color: #6b6b6b; } 
.add-fld-btn {
	border: 1px solid #e6e6e6;
	color: #949494;
	width: 85px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
	margin-bottom: 25px;
}
.add-fld-btn i {
	margin-right: 5px;
}
.add-fld-btn:hover {
	background-color: #e73022;
	color: #fff;
	border-color: #e73022;
}
.shorlist-btn {
	float: left;
	width: 47.6%;
	border: 1px solid #e6e6e6;
	height: 25px;
	text-transform: uppercase;
	color: #6b6b6b;
	text-align: center;
	margin-right: 10px;
	background-color: #fff;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 2px;
}
.shorlist-btn:last-child {
	margin-right: 0;
}
.shorlist-btn:hover {
	background-color: #e73022;
	color: #fff;
	font-weight: 700;
	border-color: #e73022;
}
/* [ End / Listing page ] */
/*Filer buttons */

.filter-buttons-cont {
	float: right;
	margin-bottom: 40px;
}
.filter-buttons-cont ul {
	list-style: none;
}
.filter-buttons-cont ul li {
	display: inline-block;
	color: #6b6b6b;
	float: left;
	font-size: 16px;
	color: #6b6b6b;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	cursor: pointer;
	position: relative;
}

.filter-buttons-cont ul li .filter-caption {
    padding: 11px 30px 10px 20px;
}


.filter-buttons-cont ul li.active, .filter-buttons-cont ul li:hover {
	background-color: #e73022;
	border-color: #e73022;
	color: #fff;
}
.filter-icon {
	vertical-align: top;
	display: inline-block;
	margin-right: 8px;
	background-image: url(../image/filter-icons.png);
	background-repeat: no-repeat;
}
.filter-icon.filter {
	width: 22px;
	height: 19px;
	background-position: -38px -2px;
}
.filter-icon.sort {
	width: 21px;
	height: 26px;
	background-position: -69px -2px;
	margin-top: -4px;
}
.filter-buttons-cont ul li.active .filter-icon.filter, .filter-buttons-cont ul li:hover .filter-icon.filter {
	background-position: -7px -2px;
}
.filter-buttons-cont ul li.active .filter-icon.sort, .filter-buttons-cont ul li:hover .filter-icon.sort {
	background-position: -98px -2px;
}
/* Filter toggle data */
.filter-data {
	width: 300px;
	max-width: 300px;
	height: auto;
	position: absolute;
	top: 60px;
	right: 0;
	left:inherit;
	border: 1px solid #e73022;
	background-color: #fff;
	z-index: 5;
	padding: 20px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.filter-data:before {
	position: absolute;
	content: '';
	width: 13px;
	height: 13px;
	top: -7px;
	right: 30px;
	transform: rotate(45deg);
	background-color: #fff;
	border-top: 1px solid #e73022;
	border-left: 1px solid #e73022;
}
.filter-buttons-cont ul li.active .filter-data, .filter-buttons-cont ul li:hover .filter-data {
	color: #6b6b6b;
}
.filter-data {
	text-transform: none;
	letter-spacing: normal;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.filter-radio-div {
	margin-bottom: 15px;
}
.filter-radio-div:last-child {
	margin-bottom: 0;
}
/*------------------shahedin shaikh--------------------------*/
.details-card-cont {height: 522px;}
.details-card-cont .article-thumb-heading {margin-top: 32px;}
.details-card-cont .article-thumb-img,  .details-card-cont .article-thumb-text-container {width: 100%;}
.details-card-cont .article-thumb-text-container {height: 235px;}
.details-card-cont .article-thumb-img {height: 248px;}
.details-card-cont .premium-tag {top: 240px;}
.aply-brand {width: 100%; float: left} 
.load-btn-cont {
	width: 100%;
	float: left;
	text-align: center;
	margin: 40px 0 0 0;
}
.load-button {
	width: 230px;
	height: 50px;
	line-height: 50px;
	color: #999999;
	border: 1px solid #999999;
	background: transparent;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
}
.load-btn-icons {
	display: inline-block;
	width: 38px;
	height: 31px;
	background: url(../image/button-icons.png);
	background-position: 5px 67px;
	vertical-align: -9px;
}
.load-button:hover {
	background-color: #e73022;
	border-color: #e73022;
	color: #fff;
}
.load-button:hover .load-btn-icons.load {
	background-position: 5px 34px;
}
.amazing-deal {padding-bottom: 60px;}

/************srk*******/

.section-heading .bold-text {font-weight: 400;}
.apparel .event-viewed {
	font-size: 24px;
	color: #010101;
	text-align: center;
}
.event-views {
	width: 100%;
	height: 312px;
	padding: 18px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	cursor: pointer;
}
.event-views:hover {box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.event-img {
	width: 100%;
	height: 215px;
	position: relative;
	overflow: hidden;
}
.event-views:hover .view-icon-OnHover {bottom: 0; }
.event-views:hover .view-icon-OnHover:before {top: 90px;}
.view-icon-OnHover {
	position: absolute;
	bottom: -215px;
	left: 0;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 215px;
}
.view-icon-OnHover:before {
	width: 46px;
	height: 28px;
	position: absolute;
	content: '';
	/*background-color: #ccc;*/
	top: -246px;
	transform: translateX(-50%);
	left: 50%;
	background-image: url(../image/button-icons.png);
	background-position: -75px -3px;
}
.view-icon img {
	width: 46px;
	height: 26px;
	text-align: center;
	margin-top: 29%;
}
.event-img:hover .view-icon {display: block;}
.views-title {font-size: 24px; color: #000; margin-top: 30px;}
.views-title .views {color: #e73022; float: right; font-weight: 500;}
.views-title a {text-decoration: none;color: #000;}
.load-view {background-position: -33px -2px;}
.load-button:hover .sprite-load.load-view {background-position: -33px -33px;}
.shortlist-details {
	clear: both;
	padding-top: 29px;
}
.shortlist-details li {
	float: left;
	text-align: center;
	width: 50%;
}
.shortlist-details li:first-child {
	border-right: solid 1px #bbb;
}
.shortlist-details li a {
	display: block;
	text-align: center;
	font-size: 13px;
	padding: 5px 0;
	color: #6b6b6b;
	text-decoration: none;
}
.shortlist-details li a:hover {color: red;}
.article-thumb-info li:nth-child(4) {width: 100%;}
.article-thumb-info li:nth-child(1) {width: 50%; }
.article-thumb-info li:nth-child(2), .article-thumb-info li:nth-child(3) {width: 25%; }

.view {background-position: -32px 67px; }
.load-button:hover .load-btn-icons.view {background-position:-31px 36px; }
.view-icon-OnHoverg201{transition: all 0.3s ease-in-out 0s;}


/* [ Curated slider ] */

	.curated-slider {
		width: 100%;
		float: left;
		height: 290px;
	}
	.curated-slide {
		width: 220px;
		height: 255px !important;
		margin-right: 15px;
		border:1px solid #e6e6e6;
		padding: 10px;
		background-color: #fff;
		position: relative;
		float: left;
	}
	.curated-slide:last-child {margin-right: 0;}
	.curated-slide a {
		display: block;
		float: left;
		width: 100%;
		height: 100%;
	}
	.curated-slide .article-thumb-img {
		width: 100%;
		height: 150px;
		float: left;
		margin-bottom: 13px;
	}
	.curated-slide .article-thumb-heading {
		font-size: 16px;
	    line-height: 18px;
	    color: #000;
	    max-height: 85px;
	    overflow: hidden; 
	    float: left;
	}
	.curated-slide .article-thumb-details {
		position: absolute;
		left: 0;
		padding-left:10px;
		bottom: 15px;
		width: 100%;
	}
	.curated-slide .article-thumb-details li {
		display: block;
		width: 100%;
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 10px;
		color: #6b6b6b;
	}
	.curated-slide .article-thumb-details li i {font-size: 14px;width: 20px;text-align: center;}
	.curated-slide .article-thumb-details li:last-child {margin-bottom: 0}
	.curated-slider .pc-prev,
	.curated-slider .pc-next,
	.lstd-evnt-slider .pc-prev,
	.lstd-evnt-slider .pc-next {
		position: absolute;
		top: 55%;
		transform: translateY(-55%);
		width: 30px;
		height: 30px;
		z-index: 2;
		text-align: center;
		font-size: 30px;
		line-height: 20px;
		cursor: pointer;
		color: #949494;
		transition: all 0.5s ease-in-out 0s;
	}
	.curated-slider .pc-prev:hover,
	.curated-slider .pc-next:hover,
	.lstd-evnt-slider .pc-prev:hover,
	.lstd-evnt-slider .pc-next:hover,
	{
		color: #e73022
	}
	.curated-slider .pc-prev, .lstd-evnt-slider .pc-prev {left: -40px;}
	.curated-slider .pc-next, .lstd-evnt-slider .pc-next {right: -30px; }


/* [ //Curated slider ] */

/*Event dashboard*/

/* [ fb imported ]*/

.fb-imprtd-sub-cont {
	width: 100%;
	float: left;
	text-align: center;
}
.fb-imprtd-sub-cont h1 {
	font-weight: 400;
	color: #2c4588;
	letter-spacing: 0.5px;
}
.fb-logo {
	display: inline-block;
	width: 288px;
	height: 60px;
	background-image: url(../image/fb-logo.png);
	background-position: 0 0;
}
.fb-imprtd-btn {
	border-color: #2c4588;
	color: #2c4588;
	max-width: 180px;
}
.fb-imprtd-btn .load-btn-icons.import {
	background-position: -67px -35px;
    width: 22px;
}
.fb-imprtd-btn:hover {background-color: #2c4588;border-color: #2c4588;}
.fb-imprtd-btn:hover .load-btn-icons.import{
	background-position: -92px -35px;
}
/* [ //fb imported ]*/
/* [ Event Dashboard Card ]*/
.evnt-dsbrd-card {
	width: 100%;
	height: auto;
	float: left;
	padding: 20px 20px 72px;
	margin-bottom: 30px;
	background-color: #fff;
	position: relative;
	border:1px solid #e6e6e6;
}
.evnt-dsbrd-card .article-thumb-img {
	width: 100%;
	height: 215px;
	float: left;
	overflow: hidden;
	margin-bottom: 20px;
}
.evnt-dsbrd-card .article-thumb-heading {
	color: #000;
	line-height: 26px;
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
.evnt-dsbrd-objctv-dscp {float: left; width: 100%;margin-bottom: 10px;}
.objctv-dscp-heading {
	display: block;
	width: 90px;
	float: left;
	margin-right: 10px;
	font-size: 14px;
	color: #e73022;
	letter-spacing: 0.25px;
	position: relative;
	line-height: 14px;
	margin-top: 3px;
}
.objctv-dscp-heading:before,
.evnt-dsbrd-objctv-dscp ul li:before {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #6b6b6b;
}
.objctv-dscp-data {
	float: left;
	width: 218px;
	display: block;
}
.objctv-dscp-data ul {
	list-style: none;
	width: 100%;	
}
.objctv-dscp-data ul li {
	display: inline-block;
	margin: 0 20px 0 0;
	position: relative;
	font-size: 12px;
	line-height: 12px;
	color: #6b6b6b;
}
.objctv-dscp-data ul li:first-child {padding-left: 0;}
.objctv-dscp-data ul li:last-child:before {display: none;}
.objctv-dscp-data ul li:before{
	right: -13px;
	transform: rotate(15deg);
}
.objctv-dscp-data p {
	font-size: 12px;
	line-height: 18px;
	margin-top: 2px;
	color: #6b6b6b;
}
.objctv-dscp-data p a {
	color: #000;
	font-style: italic;
	text-decoration: underline;
	cursor: 
	position
}
.objctv-dscp-data p a:hover {color: #e73022;}
.evnt-dsbrd-card .article-thumb-details {
	width: 100%;
	float: left;
	position: inherit;
	margin-top: 15px;
}
.evnt-dsbrd-card .article-thumb-details ul li {width: auto;position: relative;}
.evnt-dsbrd-card .article-thumb-details ul li a {
	display: block;
	padding: 0 13.7px;
	font-size: 12px;
	line-height: 12px;
	border-right: 1px solid #e6e6e6;
}
.evnt-dsbrd-card .article-thumb-details ul li:last-child a {border-right: 0;}
.evnt-dsbrd-card .article-thumb-details ul li:hover a {background: transparent; color: #e73022; }
.aply-nw {
	position: absolute;
	width: 160px;
	height: 35px;
	line-height: 35px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	border:1px solid #e8e8e8;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 2px;
	color: #6b6b6b;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s ease-in-out 0s;
}
.aply-nw:hover {
	background-color: #e73022;
	border-color: #e73022;
	color: #fff;
	text-decoration: none;
}
.evnt-dsbrd-card .article-thumb-details ul li:hover .rqr-evnt-prfl-cont {display: block;}
.rqr-evnt-prfl-cont {
	display: none;
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translate(-50%);
	width: 245px;
	height: 250px;
	background-color: #fff;
	border:1px solid #e73022;
	border-radius: 3px;
	padding: 13px 15px 15px 15px;
	z-index: 1;
	transition: all 0.3s ease-in-out 0s;
}
.rqr-evnt-prfl-cont:after {
	position: absolute;
	content: '';
	width: 15px;
	height:15px;
	background-color: #fff;
	border-bottom:1px solid #e73022;
	border-right:1px solid #e73022;
	bottom: -8px;
	left: 48%;
	transform: rotate(45deg);
}
.rqr-evnt-prfl-cont h5 {
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	padding-bottom: 7px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #b2b2b2;
}
.evnt-dsbrd-card .article-thumb-details .rqr-evnt-prfl-cont ul {
	width: 100%;
	float: left;
}
.evnt-dsbrd-card .article-thumb-details .rqr-evnt-prfl-cont ul li {
	display: block;
	width: 100%;
	font-size: 13px;
	color: #6b6b6b;
	margin: 0 0 5px 0; 
    vertical-align: middle;
}
.rqr-evnt-icons {
	width: 25px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    background-image: url(../image/xplore-icons.png);
}
.rqr-evnt-icons.family{background-position: -1px 0;}
.rqr-evnt-icons.education{background-position: -25px -2px;}
.rqr-evnt-icons.gender{background-position: -51px 0;}
.rqr-evnt-icons.money{background-position: -76px 0;}
.rqr-evnt-icons.map{background-position: -100px 0;}
.rqr-evnt-icons.calendar{background-position: -122px 0;}
.evnt-dsbrd-card .article-thumb-details ul li:hover .rqr-evnt-views-cont {display: block;}
.rqr-evnt-views-cont,
.spnsr-updt {
	display: none;
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translate(-50%);
	padding: 2px 8px;
	background-color: #e73022;
	color: #fff;
	letter-spacing: 1px;
}
.rqr-evnt-views-cont:before,
.spnsr-updt:before {
	position: absolute;
	content: '';
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 6px solid #e73022;
	left: 50%;
	transform: translateX(-50%);
	bottom: -6px;

}
/* [ //Event Dashboard Card ]*/

/* [ Listed Event Card ] */
.lstd-evnt-slider {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}
.lstd-evnt-slide {
	min-height: 200px;
}
.lstd-evnt-slider .pc-prev,
.lstd-evnt-slider .pc-next {
	position: absolute;
}
.listed-evnt-cont {
	width: 100%;
	min-width: 555px;
	max-width: 555px;
	height: 280px;
	position: relative;
	border:1px solid #e6e6e6;
	background-color: #fff;
	padding: 20px;
	overflow: hidden;
}
.listed-evnt-cont .article-thumb-img {
	width: 180px;
	height: 200px;
	float: left;
	margin-right: 20px;
	overflow: hidden;
}
.listed-evnt-cont .article-thumb-text-container {
	width: 61%;
	float: left;
	position: relative;
	height: 200px;
}
.listed-evnt-cont .article-thumb-heading {
	font-size: 20px;
	line-height: 22px;
	width: 100%;
	max-height: 26px;
	overflow: hidden;
	margin-bottom: 15px;
}
.listed-evnt-cont .article-thumb-info li {
	width: auto;
	font-size: 13px;
	color: #6b6b6b;
	margin-right: 15px;
}
.listed-evnt-cont .article-thumb-info li:nth-child(3) {margin-right: 0;}
.listed-evnt-cont .article-thumb-info li a {display: block; color: #6b6b6b;}
.listing-icon.link, .listing-icon.info {background-image: url(../image/lstd-evnt-icons.png);}
.listing-icon.link {background-position: -25px -2px; width: 17px; height: 16px;}
.listing-icon.info {background-position: -8px -2px; width: 9px; height: 16px;}
.lstd-evnt-spnsr-updt {float: left; width: 100%; list-style: none;margin-top: 20px;}
.lstd-evnt-spnsr-updt li {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	font-size: 13px;
	line-height: 13px;
	color: #6b6b6b;
	border-right:1px solid #b6b6b6;
	position: relative;
	cursor: pointer;
}
.lstd-evnt-spnsr-updt li:last-child {border-right: 0;}
.lstd-evnt-spnsr-updt li:hover .spnsr-updt {display: block;}
.spnsr-updt{display: block;}
.lstd-evnt-btns {
	width: 100%;
	height: 35px;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 35px;
}
.evnt-type-cont, .upgrade-nw-btn { 
	display: inline-block;
	width: 148px;
	height: 100%;
	border:1px solid #b6b6b6;
}
.evnt-type-cont {float: left; padding: 0 5px 0 10px; color: #000;}
.evnt-type-value {
	position: relative;
	display: inline-block;
	padding-left: 7px;
	margin-left: 3px;
	color: #e73022;
}
.evnt-type-value:before {
	position: absolute;
	content: '';
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	height: 15px;
	width: 1px;
	background-color: #b6b6b6;
}
.upgrade-nw-btn {float: right; text-align: center; color: #e73022;}
.upgrade-nw-btn:hover {background-color: #e73022;border-color: #e73022;color: #fff;}
.upgrade-nw-btn:hover .upgrade-nw-icon { background-position: -84px -1px}
.upgrade-nw-icon {
    width: 22px;
    height: 20px;
    vertical-align: sub;
    display: inline-block;
    background-image: url(../image/lstd-evnt-icons.png);
    background-position: -57px -1px;
    margin-right: 4px;
}
.lstd-evnt-complition {float: left; width: 100%; margin-top: 15px; position: relative;}
.evnt-cmlsn-heading {
	display: inline-block;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #6b6b6b;
	letter-spacing: 0.25px;
	transition: all 1s ease-in-out 0s;
}
.percentage-text {
	float: right;
	font-size: 16px;
	line-height: 16px;
	color: #e73022;
	letter-spacing: 0.25px;
}
.percentage-cont {
	width: 100%;
	float: left;
	margin-top: 5px;
	height: 5px;
	background-color: #dddddd;
	overflow: hidden;
	border-radius: 30px;
}
.percentage-bg {
	height: 10px;
	display: block;
	float: left;
	background-color: #e73022;
	transition: all 1s ease-in-out 0s;
}
.listed-evnt-cont:hover {border-color: #e73022;}
.listed-evnt-cont:hover .evnt-edt-rmv-cont {left: 2px;}
.evnt-edt-rmv-cont {
	position: absolute;
	top: 2px;
	left: -34px;
	width: 32px;
	height: auto;
	background-color: #fff;
	text-align: left;
	border:1px solid #e6e6e6;
}
.evnt-edt-rmv-cont ul {list-style: none; width: 100%;}
.evnt-edt-rmv-cont ul li {display: block;position: relative;}
.evnt-edt-rmv-cont ul li a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom:1px solid #e6e6e6;
	color: #6b6b6b;
}
.evnt-edt-rmv-cont ul li:hover a {color: #e73022;}
.evnt-edt-rmv-cont ul li:last-child a {border-bottom: 0;}
.evnt-edt-rmv-cont ul li:hover .edt-rmv-tooltip {left: 30px;z-index: 1;visibility: visible;}
.edt-rmv-tooltip {
	visibility: hidden;
	position: absolute;
	left: 60px;
	top: 50%;
	transform: translateY(-50%);
	background-color: red;
	padding: 2px 6px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
	font-weight: 500;
	color: #fff;
	z-index: -1;
}
.edt-rmv-tooltip:before {
	position: absolute;
	content: '';
	left: -4px;
	top: 50%;
	transform: translateY(-50%);
	border-top: 4px solid transparent;
	border-bottom:4px solid transparent;
	border-right:4px solid #e73022;
}
.fb-imprtd {
	position: absolute;
	top: 2px;
	right: 2px;
	background-image: url(../image/fb-import.jpg);
	width: 117px;
	height: 25px;
	display: block;
}
/* [ //Listed Event Card ] */


/* [ Edit Profile css ] */
.edt-frm-container {
	width: 100%;
	padding: 30px;
	border:1px solid #e6e6e6;
	background-color: #fff;
	height: auto;
	float: left;
	margin-bottom: 60px;
}
.usr-img-cont {
	width: 170px;
	height: 186px;
	float: left;
	margin-right: 30px;
	border:1px solid #e6e6e6;
	background-color: #ccc;
	box-shadow: 0 0 0 3px #fff inset;
	position: relative;
	/*overflow: hidden;*/
	cursor: pointer;
}
.usr-img-cont:hover .evnt-edt-rmv-cont {left: 2px;}
.usr-details {float: left; width: 81.9%; }
.usr-img {width: 100%; height: 100%;}
.usr-img-cam-icon{
	position: absolute;
	width: 100%;
	height: 30px;
	background-color: rgba(0,0,0,0.0);
	line-height: 30px;
	bottom: 0;
	left: 0;
	display: block;
    text-align: right;
    padding: 0 10px;
    transition: all 0.3s ease-in-out 0s;
}
.cam-icon {
	background-image: url(../image/edt-prfl-icons.png);
	width: 20px;
    height: 20px;
    vertical-align: -4px;
    display: inline-block;
    background-position: -222px -7px;
}
.usr-img-cont:hover .usr-img-cam-icon { background-color: rgba(0,0,0,0.4); }
.usr-input-cont {width: 48%;margin-bottom: 20px;min-height: 95px;}
.usr-inpt-lbl {float: left; width: 100%; text-align: left; font-weight: normal; color: #6b6b6b; margin-bottom: 10px; } 
.usr-inpt-lbl span {display: inline-block;}
.usr-inpt-icon {
	background-image: url(../image/edt-prfl-icons.png);
    width: 25px;
    height: 25px;
    margin-right: 5px;
    vertical-align: sub;
}
.usr-inpt-icon.usr-icon{vertical-align: bottom; background-position: -3px -1px; height: 33px;}
.usr-inpt-icon.phone-no {background-position: -30px -2px; width: 20px; height: 30px; vertical-align: bottom;}
.usr-inpt-icon.mail-icon {background-position: -49px 0;}
.usr-inpt-icon.org-icon {background-position: -78px -4px;width: 26px;}
.usr-inpt-icon.category-icon {background-position: -107px -4px; width: 29px;}
.usr-inpt-icon.add-icon {background-position: -196px -5px;}
.usr-inpt-icon.lnd-icon {background-position: -141px -3px;}
.usr-inpt-icon.zip-icon {background-position: -170px -5px;}
.edt-frm-input,
.edt-frm-select,
.edt-frm-textarea {
	width: 100%;
	float: left;
	border:1px solid #e6e6e6;
	height: 50px;
	padding: 0 20px;
	background-color: transparent;
	border-radius: 0;
	transition: all 0.3s ease-in-out 0s;
}
.edt-frm-input:focus, .edt-frm-select:focus, .edt-frm-textarea:focus {outline: none;border-color: #000;} 
.edt-frm-textarea {height: 165px;padding: 10px 20px}
.usr-input-cont.input-sml23 {width: 23%;}
.usr-input-cont.input-sml23-1{margin-right: 2%;}
.usr-frm-submit {
	float: right;
	background-color: #e73022;
	width: 200px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	border:0;
	font-size: 18px;
	font-weight: 300;
	transition: all 0.3s ease-in-out 0s;
	border:1px solid transparent;
}
.usr-frm-submit:hover{border:1px solid #;}




/*[ All Events ]*/
.usr-all-evnt-cont {float: left; width: 100%; margin-bottom: 80px;}
.accordion-item {background-color: #fff;}
.accordion-item-bd .listed-evnt-cont {min-width: 100%;height: auto;margin-bottom: 30px;}
.accordion-item-bd .listed-evnt-cont .article-thumb-img {margin-right: 13px;}
.listed-evnt-cont .article-thumb-info li:nth-child(1){width: 50%;}
.listed-evnt-cont .article-thumb-info li:nth-child(2),
.listed-evnt-cont .article-thumb-info li:nth-child(3){width: 20%;}
.accordion-item-bd .listed-evnt-cont .article-thumb-info li {margin-bottom: 5px;}
.accordion-item-bd .lstd-evnt-spnsr-updt {margin-top: 26px;}
/*[ //All Events ]*/






/* Accordian */

.accordion {margin: 0 auto; list-style: none outside;}
.accordion-item-hd {
  display: block;
  padding: 20px 30px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border:1px solid #e1e1e5;
  margin-top:10px;
  font-weight:300;
  color: #6b6b6b;
}
.accordion-item-input:checked ~ .accordion-item-hd {color: #e73022; }
.accordion-item-input:checked ~ .accordion-item-bd {
  max-height: 1000px;
  padding: 30px 15px 0;
  margin-bottom: 15px;
  border:1px solid #e1e1e5;
  border-top: 0;
  -webkit-transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
  transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
}
.accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta:before,
.accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta:after {background-color: #e73022;}
.accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta:after {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.accordion-item-hd-cta {
  display: block;
  width: 13px;
  height: 13px;
  line-height: 13px;
  margin-top: 7px;
  position: relative;
  float: right;
  pointer-events: none;
}
.accordion-item-hd-cta:before,
.accordion-item-hd-cta:after {
	position: absolute;
	content: '';
	background-color: #6b6b6b;
	top: 45%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 1px;
	transition: all 0.3s ease-in-out 0s;
}
.accordion-item-hd-cta:after {transform: rotate(90deg);}
.accordion-item-bd {
  max-height: 0;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
  transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
}
.accordion-item-input {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1;
  overflow: hidden;
  position: absolute;
  left: -9999px;
}




/* [SRK Login Dropdown] */
.login-data-cont {
	width: 200px;
	position: absolute;
	top: 50px;
	left: 0;
	display: none;
	transform: translateX(-50%);
	background-color: #fff;
}
.login-data-cont:before {
	position: absolute;
	content: '';
	top: -10px;
	right: 10%;
	transform: translateX(-50%);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #fff;
}
.login-data-cont .login-list {margin: 0; float: left; }
.login-data-cont .login-list li {float: none; width: 100%; margin: 0; }
.login-data-cont .login-list li:last-child a {border: 0; }
.login-data-cont .login-list li a {
	height: inherit;
	padding: 0;
	padding-left: 10px;
	color: #000;
	line-height: 35px;
	font-size: 14px;
	border-bottom: dashed 1px rgba(0,0,0,0.08);
}
.login-data-cont .login-list li a:hover {color: red; border-bottom-color: red;}

/* [//SRK Login Dropdown] */

/*** brand listing*****/




.brnd-list-cont {
    width: 100%;
    float: left;
	margin-bottom: 60px;
}
.brnd-list-cont .listed-evnt-cont {
    height: 241px;
    margin-bottom: 30px;
}
.brnd-list-cont .listed-evnt-cont ul.article-thumb-info li{
    width: 100%;
}


.brnd-list-cont .listed-evnt-cont ul.article-thumb-info li i {
    font-size: 15px;
    margin-right: 9px;
}






/****about us css****/

.about-us{ width:100%; float:left; margin-bottom:80px;}
.about-us  p{ font-size:18px; margin-bottom:25px; clear:both;}
.about-us  p.dropCap:first-letter {
	font-size: 76px;
	padding:0 15px;
	line-height:65px;
	font-weight:500;
	float:left;
	padding-bottom:13px;
	margin:-10px 20px 20px 0;	
	border-radius:3px;
	background-color: #e73022;
	color: #FFF;
}
.about-us  p.dropCap span{ color:#e73022; font-weight:600;}


/* // Accordian */

.faqs-tb-cont{
	width: 100%;
	float: left; 
	margin-bottom: 80px;
}
.faqs-tb-cont ul.nav.nav-tabs.test2 {
    border: 0;
}
.faqs-tb-cont ul.nav.nav-tabs.test2 li {
    background: transparent;
}
.faqs-tb-cont ul.nav.nav-tabs.test2 li a {
    color: #000;
    text-align: center;
    font-size: 18px;
    background: none;
    border: 0;
    padding: 10px 30px;;
    border-radius: 0;
}

.faqs-tb-cont ul.nav.nav-tabs.test2 li.active a {
    background: #e63100;
    color: #fff;
}

.faqs-tb-cont .tab-content {
    background-color: #fff;
    padding: 40px 25px 25px;
}
.faqs-tb-cont .tab-content .tab-pane h5 {
    color: #e63100;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
}


.acordian ul.accordion.css-accordion li.accordion-item {
    background: #f0f0f0;
}
.acordian ul.accordion.css-accordion li.accordion-item label{
    font-weight: 500;
}
.acordian ul.accordion.css-accordion li.accordion-item span:before ,.acordian ul.accordion.css-accordion li.accordion-item span:after {
	background-color: #e63100;
}
.acordian ul.accordion.css-accordion li.accordion-item .accordion-item-input:checked ~ .accordion-item-bd {
    padding: 20px 15px;
}

/******how it work*******/

.how-work-cont{
	background:none !important; 
	padding-top: 30px !important;
	height: inherit !important;
   padding-bottom: 80px !important;
}
.how-work-btn{ width: 100%; float: left;}
.how-work-btn div{
    width: 435px;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    margin: auto; 
    padding: 15px 35px; 
    background-color: #fff; 
    border: solid 1px #e6e6e6;}

.how-work-cont div#timeline {
    height: 660px;
    margin-top: 50px;
    margin-bottom: 40px;
    float: left;
}
.how-work-cont div#timeline ul:before {
    height: 99%;
}
.how-work-cont div#timeline ul:after {
    bottom: 8px;
}
.how-work-cont #timeline ul li:before {
    border-color: #fff;
}
.how-work-cont #timeline ul li p {
    color: #000;
    max-width: 90%;
    margin: auto;
    margin-top: 5px;
}



.timeline-icon {
	width: 60px;
	height: 65px;
	background: url(../image/timeline-sprite-grey.png) no-repeat;
	margin: auto;
}
.timeline-fisrt {
	background-position: -20px -18px;
}
.timeline-second {
	background-position: -129px -18px;
}
.timeline-third {
	background-position: -20px -114px;
}
.timeline-fourth {
	background-position: -128px -111px;
}



/***clientele page***/

.clientele{ width:100%;float:left; margin-bottom:80px;}
.clientele ul{ list-style:none; text-align:center;}
.clientele ul li{ width:175px;height:175px; background-color:#fff; text-align:center;    border: solid 1px #ddd;
	border-radius: 3px;margin-right: 15px;
	margin-bottom: 15px; display:inline-block;
}

.clientele ul li img{ width:100%;}




/****contact us page css***/
.contct-us-cont {
	width: 100%;
	float: left;
	margin-top: 30px;
	margin-bottom: 50px;
}
.contct1-left {
}
.contct1-right {
	width: 100%;
	padding: 20px;
	height: 100px;
	background-color: #fff;
	border: solid 1px #e6e6e6;
}
.contct1-right .contact-icon {
	width: 80px;
	float: left;
}
.contct1-right .contct-numbr {
	width: auto;
	float: left;
	font-size: 16px;
	font-weight: 500;
}
.contct1-right .contct-numbr span {
	display: block;
	font-size: 29px;
}
.how-wehelp-u {
	background-color: #fff;
	padding: 0 25px 55px 25px;
	width: 100%;
	float: left;
}
.how-wehelp-u ul {
	width: 100%;
	float: left;
	margin-top: 55px;
}
.how-wehelp-u .contct-heading {
	text-align: center;
	font-size: 22px;
	color: #e73022;
	margin-top: 40px;
}
.how-wehelp-u ul li {
	width: 33.3333%;
	float: left;
	padding: 25px;
	min-height: 245px;
	height: auto;
}
.how-wehelp-u ul li .contct-connect {
	font-size: 14px;
}
.how-wehelp-u ul li p.para-25 {
	margin-bottom: 15px;
}
.how-wehelp-u ul li:nth-child(1), .how-wehelp-u ul li:nth-child(2), .how-wehelp-u ul li:nth-child(4), .how-wehelp-u ul li:nth-child(5) {
	border-right: 1px solid #ccc;
}
.how-wehelp-u ul li:nth-child(1), .how-wehelp-u ul li:nth-child(2), .how-wehelp-u ul li:nth-child(3) {
	border-bottom: 1px solid #ccc;
}
.contc-from {
	width: 100%;
	float: left;
	margin-top: 80px;
	margin-bottom: 70px;
}
.contc-from input, .contc-from textarea {
	outline-color: #e73022;
}
.contct-inpt {
	width: 100%;
	float: left;
}
.contct-inpt-lbl {
	display: block;
   font-size:14px;
   margin-left: 3px;
	text-align: left;
	margin-bottom: 5px;
	margin-top: 20px;
}
.contct-frm-input-txt {
	width: 100%;
	height: 50px;
	padding-left: 10px;
	border: solid 1px #e6e6e6;
}
.contct-inpt-email {
	width: 49%;
	float: left;
}
.contct-inpt-phone {
	width: 49%;
	float: right;
}
.contct-frm-input-txtaria {
	width: 100%;
	height: inherit;
	padding-top: 10px;
	padding-left: 10px;
	border: solid 1px #e6e6e6;
}
.contct-inpt.Capecha input.contct-frm-input-txt {
	width: 50%;
	float: left;
}
.capecha-img {
	width: 140px;
	height: 50px;
	padding: 10px;
	float: left;
	margin-left: 10px;
	background-color: #fff;
}
.contct-btn{
	margin-top: 25px;
	width: 170px;
	height: 50px;
	background-color: #e73022;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	outline: none;
	border: solid 1px transparent; 
	transition: all 0.3s;
}

.contct-btn:hover{
	border-color: red;
	background: none;
	color: red;
}
.contct-right-social{ 
	width: 100%;
   float:left;
   padding-left: 50px;
}
.contct-right-social p.para-25 {
    margin-bottom: 10px;
}
.contct-right-social h3{
	font-size: 22px;
	color: #e73022;
	text-align: left;
	margin-bottom: 20px;

}

ul.contct-social {
    width: 100%;
    float: left;
}
ul.contct-social li {
    float: left;
}
ul.contct-social li a i.fa{
    height: 35px;
    width: 35px;
    display: block;
    background-color: #a4a4a5;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    transition: all 0.3s;
    color: #fff;
    font-size: 18px;
}
ul.contct-social li a i.fa.fa-facebook:hover{ background-color: #3b5998; border-radius: 3px;}
ul.contct-social li a i.fa.fa-twitter:hover{ background-color: #1da1f2; border-radius: 3px;}
ul.contct-social li a i.fa.fa-linkedin:hover{ background-color: #0077b5; border-radius: 3px;}
ul.contct-social li a i.fa.fa-youtube:hover{ background-color: #c3181e; border-radius: 3px;}
.contct-likes{ width: 295px; height: 215px; float: left; margin-top: 60px;}



/***terms***/




.terms{ width:100%; float:left; margin-bottom: 80px;}
p.para-25{ margin-bottom:25px; font-size:15px; line-height:25px;}
.terms .terms-alert{ font-size:14px; color:#e73022; line-height:22px; margin-bottom:40px;    border-left: solid 3px;	padding-left: 10px; font-weight: 500; margin-top: 35px;}

.terms-heading{ font-size:16px; font-weight:600; margin-bottom:25px;}
ul.terms-list-one{ list-style:none; margin-bottom:35px; max-width: 90%;}

ul.terms-list-one li {
	position: relative;
	margin-bottom:15px;
	font-size:14px;
	margin-left:50px;
	line-height: 25px;
}
ul.terms-list-one li:before {
	position: absolute;
	content: '';
	height: 10px;
	width: 10px;
	border: solid 2px #a29f9f;
	left: -20px;
	top: 4px;
	border-radius: 50%;
}
.terms p.para-35{ margin-bottom:35px; font-size:15px; line-height:25px; font-weight:500;}

.terms ol.ordered-list{ max-width: 90%;}


.terms ol.ordered-list li {
	margin-bottom:20px;
	font-size:14px;
	margin-left:50px;
	line-height: 25px;
}

.terms ol.ordered-list li ol{ margin-top:10px;}
.terms ol.ordered-list li ol li {
	margin-left: 30px;
}


.terms address {
	font-weight: 600;
	margin-left: 50px;
	font-size: 15px;
	line-height:25px;
	margin-bottom:20px;
}
.terms address a {
	color: #e73022;
}






/*[ Testimonial ]*/
.lead-testimonial-cont {
	width: 100%;
	height: 230px;
	float: left;
	border:1px solid #e6e6e6;
	background-color: #fff;
	position: relative;
	margin-bottom: 70px;
}
.lead-testimonial-cont:after {
	position: absolute;
    content: '';
    bottom: -31px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../image/tstmnl-box-shadow.png);
    width: 840px;
    height: 31px;
}
.lead-tstmnl-slider {width: 100%;height: 100%;float: left;overflow: hidden;padding: 30px;}
.lead-tstmnl-slide{width: 100%;height: 100%;}
.lead-tstmnl-slide .lead-tstmnl-img {
	float: left;
	width: 160px;
	height: 160px;
	border-radius: 100%;
	border:5px solid rgba(0,0,0,0.08);
	overflow: hidden;
	margin:8px 30px 0 0;
}
.lead-tstmnl-text-cont {
	float: left;
	width: 82.8%;
	height: 168px;	
	position: relative;
}
.lead-tstmnl-comment {
	float: left;
	display: block;
	width: 100%;
	position: relative;
	padding: 20px 25px;
	max-height: 120px;
	overflow: hidden;
	font-size: 15px;
	line-height: 24px;
}
.lead-tstmnl-comment:before,
.lead-tstmnl-comment:after {
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	background-image: url(../image/tstmnl-quate.png);
}
.lead-tstmnl-comment:before{top: 0; left: 0;}
.lead-tstmnl-comment:after {bottom: 0;right: 0;background-position: 20px 0;}
.lead-tstmnl-nm-dsg {
	position: absolute;
	bottom: 0;
	left: 0;
}
.lead-tstmnl-nm-dsg li {display: inline-block;float: left;padding: 0 15px;border-left: 1px solid #6b6b6b;font-size: 15px; line-height: 14px;letter-spacing: 0.5px;color: #6b6b6b;}
.lead-tstmnl-nm-dsg li:first-child{border-left: 3px solid #e73022;padding-left: 10px;font-weight: 700;color: #e73022;}
.slick-dots button {display: none;}
.lead-tstmnl-slider .slick-dots {position: absolute; bottom: 5px; right: 5px;}
.lead-tstmnl-slider .slick-dots li {
	list-style: outside none none;
	display: inline-block;
	cursor: pointer;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	margin: 0px 3px 0px 0px;
	background-color: #eee;
	position: relative;
}
.lead-tstmnl-slider .slick-dots li.slick-active {background-color: #e73022;}
/*[// Testimonial ]*/


/*[// Testimonial**srk** ]*/

.testimonial-task-cont{ width:100%; float:left;}



.testimonial-inner-cont{ width:100%; float:left}
.task-content{ position:relative; z-index:999; border:solid 1px #e6e6e6; font-size:15px; line-height:24px;}
.testimonial-profile{ width:100%; float:left;}
.testimonial-profile .media{margin:30px 0 45px 50px;}
.testimonial-profile .media .media-left{ width:81px; height:81px;}
.testimonial-profile .media .media-left img{ width:81px;height:81px; border:solid 2px #fff; border-radius:50%;}

.testimonial-profile .media .media-body {
    padding-top: 15px;
}
.testimonial-profile .media .media-body h4 {
    font-size: 15px;
    line-height: 14px;
    font-weight: 700;
    color: #e73022;
    letter-spacing: 0.5px;
}
.testimonial-profile .media .media-body p {
    font-size: 13px;
    color: #6b6b6b;
	max-width: 300px;
}

.task-content:after {
    position: absolute;
    content: '';
    height: 56px;
    width: 55px;
    background: white;
    left: 36px;
    bottom: -52px;
    transform: rotate(82deg) scale(0.67) skew(-53deg) translateY(34px);
    -webkit-transform: rotate(82deg) scale(0.67) skew(-53deg) translateY(34px);
    -moz-transform: rotate(82deg) scale(0.67) skew(-53deg) translateY(34px);
    -o-transform: rotate(82deg) scale(0.67) skew(-53deg) translateY(34px);
    -ms-transform: rotate(82deg) scale(0.67) skew(-53deg) translateY(34px);
    border: solid 3px #e6e6e6;
    z-index: -1;
}

.testimonial-para {
    background: #fff;
    padding: 20px;
    z-index: 2;
}









