@import "login.css";
@import "salman.css";
@import "slickfv.css";
@import "focuspoint.css";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900';
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	margin: 0;
	padding: 0;
	overflow: auto;
	font-family: 'Roboto', sans-serif;
}
.item.has-video {
	height: 630px;
}
.video {
	position: absolute;
	left: 0;
	right: 0;
}
div#banner {
	position: relative;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	height: 742px;
}
.ion-close-round:before {
	content: "\f00d" !important;
	font-family: FontAwesome;
}
/*******navigation css***********/



/*== crousel css ==*/

.banner {
	width: 100%;
	height: 457px;
}
.banner-caption {
	text-align: center;
	position: relative;
	top: 147px;
}
.banner-caption h1 {
	font-size: 45px;
	text-transform: capitalize;
	color: #fff;
	font-weight: 600;
}
.banner-caption h1 span {
	color: #e73022;
}
.banner-caption h3 {
	color: #fff;
	font-size: 32px;
	padding: 20px 0;
}
ul.section-buttons.home li a {
	min-width: 250px;
	height: 50px;
	font-size: 20px;
}
ul.section-buttons.home li a:hover, ul.section-buttons.home li a .active {
	background: #e73022;
	border-color: #e73022;
}
.banner-caption ul li a {
	width: 250px;
	height: 50px;
	color: #fff;
	background: transparent;
	outline: none;
	border: 1px solid #fff;
	font-size: 20px;
	text-decoration: none;
	padding: 10px 40px;
}
.banner-caption ul li a:hover, .banner-caption ul li a.active {
	background: #e73022;
	border-color: #e73022;
}
/************* banner-form css*************/
.banner-form {
	border-bottom: 0;
}
.banner-form li.active {
	border: 0;
	height: 41px;
	margin-bottom: -2px;
	border-bottom: solid 1px #e73022;
}
.banner-form li {
	width: 250px;
	height: 41px;
	text-align: center;
	border-left: solid 1px #fff;
	border-top: solid 1px #fff;
	border-right: solid 1px #fff;
}
.banner-form li.pull-right {
	font-size: 32px;
	width: 312px;
	color: #fff;
	text-transform: uppercase;
}
.banner-form li.pull-right span {
	color: #e73022;
}
.banner-form li a {
	border: none !important;
	border-right: solid 1px #fff !important;
	color: #fff;
	border-radius: 0;
	margin: 0;
}
.banner-form li.active a {
	background-color: #e73022;
	color: #fff;
}
.banner-form li.active a:hover, .banner-form li.active a:focus {
	background-color: #e73022;
	color: #fff;
	border-radius: 0;
}
.banner-form li a:last-child {
	border: 0 !important;
}
.banner-form li a:hover, .banner-form li a:focus {
	background-color: #e73022;
	border-radius: 0;
}
.datepicker {
	padding: 10px;
	top: 345px !important;
}
/*********new css for search bar********/

.inner-addon {
	position: relative;
	width: 185px;
	float: left;
}
.inner-addon.left-addon.city {
    width: 16%;
}
div#sponsor .inner-addon.left-addon.city {
    width: 22%;
}
#sponsor .inner-addon.left-addon.date {
    width: 18%;
}
.inner-addon .glyphicon {
	position: absolute;
	padding: 12px;
	left: 0;
	pointer-events: none;
}
.left-addon input {
	padding-left: 30px;
}
.inner-addon input.form-control {
	width: 100%;
	line-height: 40px;
	height: 40px;
	border-left: 0;
	border-radius: 0;border: 0;
border-right: solid 1px #bbb;
}
.inner-addon.left-addon.date input {
    border-bottom: 0;
    border-top: 0;
    border-right: solid 1px #bbb;
}
.inner-addon.left-addon.date {
	width: 12%;
	float: left;
}
.search-last input[type="text"] {
	width: 70%;
	float: left;
	height: 40px;
	border: 0;
}
.search-last input[type="submit"] {
	width: 30%;
	background: #e73022;
	color: #fff;
	height: 40px;
	padding: 0;
	border: 0;
	font-size: 16px;
	text-transform: uppercase;
}

.search-panel .dropdown-toggle {
	margin: 0;
	padding: 9px;
	border-radius: 0;
	width: 200px;
	height: 40px;
	color: #948d8d !important;
	text-align: left;
	background: #fff !important;
	border: 0;
	border-left: solid 1px #bbb;
	border-right: solid 1px #bbb;
}
.search-panel .dropdown-toggle span.caret {
	float: right;
	margin-top: 8px;
}
.select {
	width: 18%;
	float: left;
}
.inner-addon.left-addon.search-last {
    width: 24%;
}
.select select {
	height: 40px;
	outline: none;
	border-radius: 0;
	border: 0;
	width: 100% !important;
	border-right: solid 1px #bbb;
}
.datepicker-dropdown.datepicker-orient-top:after {
	bottom: -6px !important;
	top: 100%;
}
.datepicker-dropdown:after {
	transform: rotate(180deg);
}
.datepicker-dropdown.datepicker-orient-top:before {
	border: 0 !important;
}
#search_concept img {
	right: 10px;
	top: 16px;
	position: absolute;
}
.search-panel ul.dropdown-menu {
	width: 100%;
	border-radius: 0;
	top: 37px;
	background: #fff;
}
/**************** banner end here ******************/

.paginat {
    width: 100%;
    text-align: center;
    float: left;
}
.paginat ul li.active a, .paginat ul li a:hover , .paginat ul li.active a:hover {
    border-color: #e73022;
    background: #e73022;
	color:#fff
}

#wrapper {
	clear: both;
}
.platform {
	padding-top: 80px;
	width: 100%;
	float: left;
}
/*********progress bar ************/
.set-size {
	text-align: center;
	font-size: 10em;
	padding-bottom: 0;
}
.charts-container:after {
	clear: both;
	content: "";
	display: table;
}
.pie-wrapper {
	height: 1em;
	width: 1em;
	display:inline-block;
	margin: 10px;
	padding: 6px;
	position: relative;
}
.pie-wrapper .pie {
	height: 100%;
	width: 100%;
	clip: rect(0, 1em, 1em, 0.5em);
	left: 0;
	position: absolute;
	top: 0;
}
.pie-wrapper .pie .half-circle {
	height: 100%;
	width: 100%;
	border: 0.1em solid #3498db;
	border-radius: 50%;
	clip: rect(0, 0.5em, 1em, 0);
	left: 0;
	position: absolute;
	top: 0;
}
.pie-wrapper .label {
	background: #34495e;
	border-radius: 50%;
	bottom: 0.4em;
	color: #ecf0f1;
	cursor: default;
	display: block;
	font-size: 0.25em;
	left: 0.4em;
	padding-top: 29px;
	font-size: 13% !Important;
	line-height: 2em;
	position: absolute;
	right: 0.4em;
	text-align: center;
	top: 0.4em;
}
.pie-wrapper .label .smaller {
	color: #bdc3c7;
	font-size: .45em;
	padding-bottom: 20px;
	vertical-align: super;
}
.pie-wrapper .shadow {
	height: 100%;
	width: 100%;
	border: 2px solid #bdc3c7;
	border-radius: 50%;
}
.pie-wrapper.style-2 .label {
	background: #eaeaea;
	color: #7f8c8d;
	margin: 12px;
}
.pie-wrapper.style-2 .label .smaller {
	color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .right-side {
	display: none;
}
.pie-wrapper.progress-30 .pie .half-circle {
	border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
	-webkit-transform: rotate(108deg);
	transform: rotate(108deg);
}
.pie-wrapper.progress-60 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-60 .pie .half-circle {
	border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
	-webkit-transform: rotate(216deg);
	transform: rotate(216deg);
}
.pie-wrapper.progress-90 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie .half-circle {
	border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
	-webkit-transform: rotate(324deg);
	transform: rotate(324deg);
}
.pie-wrapper.progress-45 .pie .right-side {
	display: none;
}
.pie-wrapper.progress-45 .pie .half-circle {
	border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
	-webkit-transform: rotate(162deg);
	transform: rotate(162deg);
}
.pie-wrapper.progress-75 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-75 .pie .half-circle {
	border-color: #2a2a2a;
}
.pie-wrapper.progress-75 .pie .left-side {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
.pie-wrapper.progress-95 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .right-side {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie .half-circle {
	border-color: #de171a;
}
.pie-wrapper.progress-95 .pie .left-side {
	-webkit-transform: rotate(342deg);
	transform: rotate(342deg);
}
.pie-wrapper--solid {
	border-radius: 50%;
	overflow: hidden;
}
.pie-wrapper--solid:before {
	border-radius: 0 100% 100% 0%;
	content: '';
	display: block;
	height: 100%;
	margin-left: 50%;
	-webkit-transform-origin: left;
	transform-origin: left;
}
.pie-wrapper--solid .label {
	background: transparent;
}
.pie-wrapper--solid.progress-65 {
	background: -webkit-linear-gradient(left, #e67e22 50%, #34495e 50%);
	background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
	background: #e67e22;
	-webkit-transform: rotate(126deg);
	transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
	background: -webkit-linear-gradient(left, #9b59b6 50%, #34495e 50%);
	background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
	background: #34495e;
	-webkit-transform: rotate(-270deg);
	transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
	background: -webkit-linear-gradient(left, #3498db 50%, #34495e 50%);
	background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
	background: #3498db;
	-webkit-transform: rotate(43.2deg);
	transform: rotate(43.2deg);
}
.sponsor {
	font-size: 16px;
	line-height: 32px;
	clear: both;
	text-align: center;
	color: #fff;
	transition: ease 0.5s;
	margin-top: 30px;
}
.sponsor a {
	text-decoration: none;
	color: #fff;
}
.sponsor.black {
	background: #2a2a2a;
}
.sponsor.red {
	background: #e73022;
}
.sponsor.black:hover {
	background: #e73022;
}
.sponsor.red:hover {
	background: #2a2a2a;
}
#event {
	padding-top: 80px;
	width: 100%;
	float: left;
}
#how-work .section-heading h1 {
	color: #fff;
}
#how-work .section-heading h1:before, #how-work .section-heading h1:after {
	background-color: #fff !important;
}
#how-work .section-heading h1 {
	color: #fff;
}
#event .heading {
	padding-top: 25px;
}
/********** filter gallery ***************/


#info {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fcf8e3;
	border: 1px solid #fbeed5;
	width: 95%;
	max-width: 900px;
	margin: 0 auto 40px auto;
	font-family: arial;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#info .info-wrapper {
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#info a {
	color: #c09853;
	text-decoration: none;
}
#info p {
	margin: 5px 0 0 0;
}
#filters {
	margin: 1% auto;
	width: 75%;
	padding: 0;
	list-style: none;
}
#filters li {
	float: left;
}
#filters li span {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	margin: 0 10px;
	font-size: 18px;
	cursor: pointer;
}
#filters li span.active {
	color: #e95a44;
	border-bottom: solid 2px #e95a44;
}
/**** gallery****/
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	display: none;
	height: 325px;
	float: left;
	overflow: hidden;
	position: relative;
}
.width75 {
	width: 75%;
}
.width25 {
	width: 25%;
}
.portfolio-wrapper {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
	margin: 10PX;
	cursor: pointer;
}
.portfolio-wrapper:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 1;
}
.portfolio:hover .label {
	top: 50%;
}
.portfolio:hover .portfolio-wrapper:before {
	top: 0;
}
.portfolio:hover img {
	top: 0;
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height: auto;
	top: 50%;
	z-index: 22;
	transform: translateY(-50%);
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	left: 0;
	width: 100%;
	margin-right: 0;
	padding-right: 10px;
}
.portfolio .label-text {
	color: #fff;
	position: relative;
	z-index: 500;
	padding: 5px 8px;
}
.portfolio .text-category {
	display: block;
	font-size: 14px;
	font-weight: 500;
	margin-top: 6px;
}

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
#portfoliolist .portfolio {
	width: 48%;
	margin: 1%;
}
#ads {
	display: none;
}
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#ads {
	display: none;
}
}
/* #Clearing */

/* Self Clearing Goodness */
.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row:after, .clearfix:after {
	clear: both;
}
.row, .clearfix {
	zoom: 1;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.width80 .portfolio-wrapper .label {
	padding-top: 11%;
}
.portfolio .label-text a.text-title {
	font-size: 17px;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
}
.width80 .portfolio-wrapper img {
	width: 100%;
	height: 246px;
}
.button {
	padding: 25px 0 50px 0;
	text-align: center;
	clear: both;
}
.button a {
	border: none;
	background: #e73022;
	color: #fff;
	text-decoration: none;
	padding: 15px 50px;
	font-size: 16px;
	position: relative;
	box-sizing: border-box;
	transition: all 0.5s ease;
}
#event-list {
	background: url(../images/event-list-banner.jpg) no-repeat 0 0;
	min-height: 400px;
}
#event-list .event-list {
	padding-top: 100px;
}
.event-list h1 {
	font-size: 51px;
	color: #fff;
	text-align: center;
}
.event-list p {
	text-align: center;
	font-size: 18px;
	color: #fff;
	padding: 25px 0;
	line-height: 24px;
	width: 60%;
	margin: auto;
}
.event-list form.form-inline {
	width: 70%;
	margin: auto;
}
.event-form input {
	height: 40px;
	outline: none;
	border-radius: 0;
	border: 0;
	display: inline-block;
}
.event-form input[type="submit"] {
	background: #e73022;
	width: 130px;
	color: #fff;
}
.event-list form.form-inline input {
	height: 40px;
	outline: none;
	border-radius: 0;
	border: 0;
	display: inline-block;
	margin-right: -3px;
}
#about-onspon {
	background: url(../images/about-onspon.jpg) no-repeat 0 0;
	min-height: 700px;
	padding-top: 80px;
	background-size: cover;
}
#onspon .item h3 {
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}
#onspon .item h3 span {
	color: #e73022;
}
#onspon ol.carousel-indicators {
	bottom: -50px;
	z-index: 1;
}
#onspon ol.carousel-indicators li {
	background: #000;
	border: 0;
}
#onspon ol.carousel-indicators .active {
	background: #e73022;
	height: 12px;
	width: 12px;
}
.roshni .title {
	font-size: 16px;
	font-weight: 600;
	padding-top: 15px;
}
.roshni .title span {
	display: block;
	font-weight: 500;
	font-size: 14px;
}
.roshni p {
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 8px;
}
/*** Timeline ***/

#timeline {
	width: 100%;
	padding-top: 00px;
	overflow: hidden;
	height: 637px;
}
#timeline ul {
	position: relative;
	list-style: none;
	float: left;
	height: 100%;
}
#timeline ul li {
	float: left;
	width: 100%;
	max-width: 440px;
	position: relative;
	text-align: center;
	margin: 0 0 60px 0;
}
#timeline ul li:nth-child(2), #timeline ul li:nth-child(4) {
	float: right;
}
#timeline ul li:nth-child(2) {
	margin-top: 120px;
}
#timeline ul li .timeline-heading {
	text-align: center;
	font-size: 22px;
	color: #e73022;
	margin-top: 10px;
}
#timeline ul li p {
	font-size: 15px;
	padding-top: 5px;
	line-height: 26px;
	color: #fff;
}
#timeline ul:before {
	position: absolute;
	top: 0px;
	left: 50%;
	content: '';
	width: 5px;
	height: 94%;
	background-color: #e73022;
}
#timeline ul:after {
	position: absolute;
	content: '\f078';
	font-family: 'FontAwesome';
	color: #e73022;
	font-size: 20px;
	text-align: center;
	bottom: 37px;
	left: 50%;
	padding: 3px;
	transform: translateX(-50%);
	width: 20px;
	height: 20px;/*background-color: #fff;*/
}
#timeline ul li:before {
	width: 45px;
	height: 45px;
	background-color: #e73022;
	line-height: 45px;
	text-align: center;
	position: absolute;
	content: '';
	font-size: 22px;
	font-weight: 700;
	border: 2px solid #000;
	color: #fff;
	border-radius: 100%;
	top: 73%;
	line-height: 42px;
	transform: translateY(-50%);
}
#timeline ul li:nth-child(1):before, #timeline ul li:nth-child(3):before {
	right: -170px;
}
#timeline ul li:nth-child(1):before {
	content: '1';
}
#timeline ul li:nth-child(2):before {
	content: '2';
}
#timeline ul li:nth-child(3):before {
	content: '3';
}
#timeline ul li:nth-child(4):before {
	content: '4';
}
#timeline ul li:nth-child(2):before, #timeline ul li:nth-child(4):before {
	left: -165px;
}
#timeline ul li:after {
	position: absolute;
	content: '';
	width: 100px;
	height: 3px;
	background-color: #e73022;
	top: 73%;
	transform: translateY(-50%);
}
#timeline ul li:nth-child(1):after, #timeline ul li:nth-child(3):after {
	right: -130px;
}
#timeline ul li:nth-child(2):after, #timeline ul li:nth-child(4):after {
	left: -130px;
}
#timeline ul li:nth-child(4) {
	margin-bottom: 0;
}
.timeline-icon {
	width: 60px;
	height: 65px;
	background: url(../image/timeline-sprite.png) no-repeat;
	margin: auto;
}
.timeline-fisrt {
	background-position: -20px -18px;
}
.timeline-second {
	background-position: -129px -18px;
}
.timeline-third {
	background-position: -20px -114px;
}
.timeline-fourth {
	background-position: -128px -111px;
}
#how-work {
	background: url(../images/how-work.jpg) no-repeat 0 0;
	background-size: cover;
	height: 805px;
	margin-top: 40px;
	padding: 55px 0 45px 0;
	position: relative;
	overflow: hidden;
}
#how-work .section-heading {
	margin-bottom: 35px;
}
.timeline-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.80);
	z-index: 0;
	display: block;
}
#how-work .container {
	z-index: 1;
}
#how-work .heading h1 {
	color: #fff;
}
.sponsors {
	width: 100%;
	float: left;

}
.sponsor-left, .sponsor-right {
	height: 560px;
	width: 50%;
	float: left;
	position: relative;
}
.sponsor-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}
.sponsor-left {
	background: #e73022;
}
.sponsor-list {
	list-style: none;
	padding: 70px 50px;
}
.sponsor-list li {
	float: left;
	width: 33%;
	height: 140px;
}
.sponsor-list li a img {
	transform: translateY(50%);
	width: inherit;
}
.sponsor-right {
	background: #000;
	padding-top: 30px;
}
.sponsor-right .section-heading h1:before, .sponsor-right .section-heading h1:after {
	width: 70px !important;
	background-color: #fff;
}
.sponsor-right .section-heading h1:before {
	left: -85px;
}
.sponsor-right .section-heading h1:after {
	right: -85px;
}
.sponsor-right .section-heading h1 {
	color: #fff;
	font-size:26px;
}
#myCarousel {
	width: 540px;
	color: #fff;
	margin: auto;
}
.hcl-title {
	font-size: 16px;
	font-weight: 600;
	padding-top: 15px;
}
.hcl-title span {
	display: block;
	font-weight: 500;
	font-size: 14px;
}
.gaurav p {
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 8px;
}
.gaurav {
	color: #fff;
}
#myCarousel ol.carousel-indicators {
	bottom: -50px;
}
#myCarousel ol.carousel-indicators li {
	background: #fff;
}
#myCarousel ol.carousel-indicators li.active {
	background: #e73022;
	border: 0;
}
.engage-with-us {
	padding-top: 55px;
	clear: both;
}
ul.engage-logo {
	list-style: none;
	height: 320px;
}
ul.engage-logo li {
	width: 25%;
	height: 190px;
	line-height: 190px;
	float: left;
}
#engage {
	float: left;
	margin-bottom: 70px;
}
.map ul li .map-title i {
	margin-right: 5px;
}
#engage ol.carousel-indicators {
	bottom: -26px;
	z-index: 1;
}
#engage ol.carousel-indicators li {
	border: 0;
	background: #000;
}
#engage ol.carousel-indicators li.active {
	background: red;
	border: 0;
}
.newsletter {
	padding-top: 35px;
	margin-top: 25px;
	background: #e73022;
	height: 108px;
}
.newsletter h3 {
	font-size: 33px;
	font-weight: 300;
	color: #fff;
}
.newsletter-right {
	width: 330px;
	float: right;
	position:relative;
}
.newsletter-right .input-group input {
	height: 36px;
	border: 0;
	outline: none;
}
.newsletter-right .input-group input[type="text"] {
	width: 210px;
	border-radius: 0;
	float: left;
	background: #fff;
	color: #e73022;
	padding-left: 10px;
}
#err-subs-email {
	position: absolute;
	bottom: -23px;
}
.newsletter-right .form-group {
	margin-bottom: 0;
}
 .newsletter-right .input-group input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
 color:    #e73022;
}
.newsletter-right .input-group input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #e73022;
 opacity:  1;
}
.newsletter-right .input-group input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #e73022;
 opacity:  1;
}
.newsletter-right .input-group input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
 color:    #e73022;
}
.newsletter-right .input-group button[type="submit"] {
	height: 36px;
	float: right;
	border: 0;
	width: 105px;
	color: #fff;
	background: #000;
}
.newsletter-right .input-group {
	width: 95.7%;
}
.write-us {
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
}
.contact-form p {
	font-size: 14px;
	color: #000;
	line-height: 24px;
}
.form input.name {
	height: 40px;
	border: solid 1px #000;
	width: 100%;
	padding-left: 15px;
	outline: none;
	margin-bottom: 20px;
}
.form {
	padding-top: 90px;
}
.form .textaria {
	border: solid 1px #000;
	width: 100%;
	padding: 10px;
	outline: none;
	margin-bottom: 20px;
}
.submit-button {
	border: none;
	background: #000;
	color: #fff;
	text-decoration: none;
	padding: 15px 27px;
	font-size: 16px;
	position: relative;
	box-sizing: border-box;
	transition: all 0.5s ease;
	line-height: 4px;
	float: right;
}
.send-button {
	background: #000;
	color: #fff;
	text-decoration: none;
	padding: 10px 50px;
	font-size: 16px;
	border: solid 1px transparent;
	;
}
input.send-button:hover {
	background: transparent;
	color: #e73022;
	border-color: #e73022;
}
.map ul {
	list-style: none;
}
.map ul li {
	float: left;
	width: 25%;
	padding: 0 10px;
}
.map ul li:nth-child(2) {
	width: 40%;
}
.map ul li .map-title {
	text-transform: uppercase;
	font-size: 16px;
	color: #e73022;
	letter-spacing: 1px;
	margin-bottom: 7px;
	font-weight: 700;
}
.map ul li span {
	display: block;
	font-size: 13px;
	color: #000;
	font-weight: 500;
}
.map iframe {
    margin-top: 121px;
    border: solid 1px #000 !important;
    padding: 5px;
    height: 350px;
}
.newsletter-right .alert {
	color: #fff;
	background-color: inherit;
	border-color: inherit;
	border: 0;
	position: absolute;
	top: 23px;
}
footer {
	background: #000;
	float: left;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 35px;
}
.footer-one ul li {
	color: #727272;
	margin-bottom: 5px;
}
.footer-one ul {
	margin-top: 10px;
}
.footer-one ul li i {
	margin-right: 10px;
	font-size: 18px;
}
.link {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}
.link ul li a {
	font-size: 14px;
	color: #727272;
	line-height: 24px;
	text-decoration: none;
}
.link ul li a i, .link ul li a span.red {
	color: red;
}
.copyright {
	height: 61px;
	background: #262626;
	float: left;
	width: 100%;
	color: #727272;
}
.copy-left {
	line-height: 61px;
	float: left;
	width: 80%;
}
.copy-left a {
	text-decoration: none;
	transition: ease 0.5s;
	color: #727272;
}
.copy-left a:hover {
	color: #e73022;
}
.copy-right {
	float: right;
	padding-top: 22px;
}
.copy-right ul li a {
	color: #727272;
	transition: ease 0.5s;
}
.copy-right ul li a:hover {
	color: #e73022;
}


/****firefox css****/

@-moz-document url-prefix() {
.search-last input[type="text"] {
 width:70%;
}

}
.event-sponsor {
	position: relative;
	float: right;
	top: -77px;
	font-weight: 300;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
}
.event-sponsor span {
	color: #e73022;
	font-weight: 400;
	font-size: 26px;
}

@media screen and (max-width: 1366px) {
.banner-caption {
	text-align: center;
	position: relative;
	top: 100px;
}
.search-field {
	clear: both;
	display: block;
	top: 190px;
	position: relative;
}
.banner {
	width: 100%;
	height: 492px;
}
.search-panel .dropdown-toggle {
	width: 153px;
}

.search-last {
	float: right;
}


}
#menu {
	position: relative;
	top: 0;
	bottom: 0;
	height: 100%;
	background: #e73022;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 99;
	width: 200px;
	right: -200px;
	height: 100%;
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;
}
#menu.active {
	-webkit-transform: translate(-200px, 0px);
	-moz-transform: translate(-200px, 0px);
	-o-transform: translate(-200px, 0px);
	-ms-transform: translate(-200px, 0px);
	transform: translate(-200px, 0px);
}
.menu-link {
	position: absolute;
	top: 39%;
	right: 45%;
}
.menu-link:active {
	position: absolute;
	top: 39.3%;
}
ul {
	list-style-type: none;
}
#menu ul a {
	color: #FFF;
	font-family: open sans;
	font-weight: 300;
	border-bottom: dashed 1px rgba(255,255,255,0.3);
	letter-spacing: 0.5px;
	line-height: 50px;
	height: 50px;
	outline:none;
}
#menu ul a:focus {
    text-decoration: none;
}
#menu ul li:first-child a {
	border-top: dashed 1px rgba(255,255,255,0.3);
}
#menu ul a.active, #menu ul li:first-child a.active {
	background: #000;
	font-weight: 500;
	border-color: #000;
}
#menu ul a:hover {
	background: #000;
}
.close-nav {
	text-align: center;
	padding: 5px;
	font-size: 2em;
	color: rgba(255, 255, 255, 0.61);
	border-bottom: 1px solid rgba(37, 37, 37, 0.27);
	cursor: pointer;
}
nav#menu ul {
	top: 80px;
	position: relative;
	margin: 0;
}
nav#menu ul li {
	float: left;
	width: 100%;
	margin: 0;
}

nav#menu ul li ul {
    position: relative;
    width: 100%;
    top: inherit;
	display:none;

}
#menu ul a span.pull-right.open {
    transform: rotateX(180deg);
}

#menu ul a span.pull-right {
  	transition: 1s;
	font-size: 12px;
}
nav#menu ul li ul li a {
  line-height: 37px;
height: 40px;
display: block;
background: #3b3939;
border-bottom: dashed 1px rgba(255,255,255,0.2);
font-size:15px;
    text-transform: capitalize;
}


#avik form.form-inline {
	float: left;
	width: 100%;
	margin-top: 1px;
}
header.fix-head {
	position: fixed;
	background: #000;
	max-height: 70px;
}
header.fix-head a.top-logo {
	width: 100px;
	background-size: 100%;
	margin: 6px 0 5px 20px;
}
header.fix-head ul {
	margin: 20px 20px 0 20px;
}
header.fix-head .hamburger-menu.toggle-x {
	margin: 27px 20px 0 0px;
	z-index:9999;
}
#home-page {
}
.footer-one a img {
	width: 159px;
	padding-bottom: 10px;
}
div#onspon {
	width: 100%;
	float: left;
}
.abt-onspon-img {
	width: 154px;
	height: 59px;
	display: inline-block;
}
.roshni img {
	width: 154px;
	border-radius: 100%;
	height: 154px;
}
.top-menu-bar ul li.top-menu-seprate-btn a {
	border: solid 1px transparent;
}
.top-menu-bar ul li.top-menu-seprate-btn a:hover {
	background: transparent;
	border: solid 1px #fff;
}
ul.engage-logo li img {
	width: 200px;
	height: 130px;
}
.hamburger-menu.toggle-x.current:before {
	transform: rotate(45deg);
	top: 6.5px;
	z-index: 999;
}
.hamburger-menu.toggle-x.current:after {
	transform: rotate(-45deg);
	bottom: 6.5px;
	z-index: 999;
}
.hamburger-menu.toggle-x.current .arrows {
	display: none;
}
#menu.active:after {
	position: absolute;
	content: '';
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	right: 200px;
	z-index: -1;
}
/***28sept***/

section.home-banner {
	height: 725px !important;
}
section.home-banner .section-caption-cont {
	margin-top: 250px;
}
section.home-banner .searchfield {
	margin-top: 155px;
	width: 100%;
   float: left;
}
section.section-banner-cont.section-banner.sec-bnr-300 {
    height: 300px;
}
section.sec-bnr-300 .section-caption-cont {
    margin-top: 140px;
}
section.section-banner-cont.section-banner.event-listing-banner .section-caption-cont {
    margin-top: 150px;
}

/*** eventlisting page***/
span.filter-close {
    position: absolute;
    height: 20px;
    width: 20px;
    content: '';
    background: white;
    right: -9px;
    top: -9px;
    border: solid 1px red;
    border-radius: 50%;
}
span.filter-close:after, span.filter-close:before {
    position: absolute;
    background: red;
    height: 1px;
    width: 11px;
    top: 8.2px;
    content: '';
    left: 3.5px;
}
span.filter-close:before {
    transform: rotate(-45deg);
}
span.filter-close:after {
    transform: rotate(45deg);
}


.filter-data .form-group select.select-group {
    width: 100%;
    height: 30px;
    outline: none;
  }

.filter-data .form-group label {
    font-weight: 400;
	    margin-top: 15px;
}


.filter-data input[type="text"] {
       height: 30px;
    border-radius: 0;
    padding-left: 5px;
    width: 70%;
    margin-top: -2px;
}
.filter-data input[type="submit"] {
   width: 30%;
    border: 0;
    line-height: 28px;
    height: 30px;
    background: red;
    color: #fff;
    display: inline-block;
    margin-left: -4px;
}


.filter-radio-div label {
    display: block;
}
.filter-data input {
    margin-top: 15px;
}


.empty-events {
    background-color: rgba(231, 48, 34, 0.3);
    max-width: 80%;
    margin: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #000;
    font-size: 20px;
    border: solid 1px red;
}


section.section-text-cont.top-category .article-thumb-img {
    width: 100%;
    height: 100%;
	position:relative;
	
}
section.section-text-cont.top-category .article-thumb-img img {
    width: 100%;
    height: 100%;transition: all .2s ease-in-out; 
}
section.section-text-cont.top-category .article-thumb-img:hover img{ transform: scale(1.4); }
section.section-text-cont.top-category .article-thumb-img .top-category-heading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 24%;
    background: rgba(0,0,0,0.3);
    color: #fff;
    overflow: hidden;
}


section.section-text-cont.top-category .listing-card-cont {
    padding: 15px;
}


/***change password***/

.login-input-con input.change-pass {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: solid 1px #bbb;
    margin-bottom: 10px;
}



/** login by srk**/

.login-main-cont{
	max-width: 700px;
    height: 470px;

    margin: 0 auto;
    position: relative;
    margin-bottom: 80px;
    /* background: rgba(0,0,0,0.5); */

}

.login-left-cont{
    width: 45%;
    height: 470px;
    float: left;
    background-image: url(../image/04.jpg);
    background-size: cover;
    position: relative;
    background-color: #2c56af;
    z-index: 1;
    background-blend-mode: multiply;
}

.login-left-cont .text-block {
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 25px;
    color: #fff;
}

.login-left-cont .heading-text{
	padding: 14px 0;
    border-bottom: 1px solid grey;
}

.login-left-cont .signup-reason-container {
    margin: 14px;
}
.login-left-cont .signup-reason {
    padding: 5px;
    display: list-item;
}

.login-right-cont{ 
	width: 55%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	padding: 20px 30px;
}

.login-content{
  /*  width: 100%;
    margin-top: 40px;
    height: 90%;
    float: left;*/
}
.log-in{ margin-top: 70px;}

.front-login{ margin-top: 60px;}

.login-content .sc-btns{}


.login-content .sc-btns a {
    background: red;
    display: block;
    height: 42px;
    line-height: 42px;
    margin: auto;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 15px;
}
.forgot-password{ text-align: right; margin-top: 10px; width: 100%; float: left; font-size: 14px;}
.login-content .sc-btns a i {
    margin-left: 55px;
    width: 25px;
}
.tab-footer {
    border-top: 1px solid #dcdcdc;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
}
.tab-footer a{ color:#e73022; }
.login-content .sc-btns a.btn-facebook {
    background: #3b5998;
}
.login-content .sc-btns a.btn-google-plus {
    background-color: #df4f3f;
}
.login-content .sc-btns a.btn-linkedin {
    background: #007ab5;
}
.login-content .alternate-email{
	color: #999;
    text-align: center;
}


.login-content .btn-l{
	line-height: 40px;
	 color: #e73022;
	background-color: inherit;
	border-radius: 3px;
	border: solid 1px #e73022;
	transition: all 0.3s ease-in-out;
	margin: auto;
	display: block;
	font-size: 17px;
	letter-spacing: 1px;
	margin-top: 20px;
}
.login-content .btn-l:hover,.login-content .btn-l.active{
	 background-color: #e73022;
	 border-color: #e73022;
	 color: #fff;
}
.login-content  .loginbtns{
	width: 100%;
	float: left;
	text-align: center;
}
.form-element {
    line-height: 50px;
    height: 50px;
    background: #fff;
    position: relative;
    -webkit-transition:.3s all;
    -o-transition:.3s all;
    transition:.3s all;
}


.form-element .input {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    background: 0 0;
    border: 1px solid #E6E6E6;
    border-bottom: 0;
    outline: 0!important;
    transition:all 0.3s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-element .input:focus{border-color: #e73022; border-bottom: solid 1px #e73022;}
.form-element:last-child .input {
    border-bottom: 1px solid #E6E6E6;
}
.form-element:last-child .input:focus{
	border-bottom: solid 1px #e73022;
}

.login-box, .signup-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(92% - 25px);
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.signup-box {
    padding: 40px;
    right: -350px;
}
.login-box {
    padding: 20px 40px;
    right: 0px;
}









